In [2]:
# datasets_dir=r".venv/Lib/site-packages"

# import sys
# sys.path.append(datasets_dir)

# import datasets
# import log_reg

import numpy as np
import pandas as pd
from collections import Counter, defaultdict
import csv
import math
import operator
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm
import re
import os
import json
import asyncio
import requests
import aiohttp
# from nltk.tokenize import RegexpTokenizer

In [7]:
dfproc = pd.read_csv('PROCEDURES_ICD.csv')
dfdiag = pd.read_csv('DIAGNOSES_ICD.csv')

In [8]:
dfproc.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
0     944       62641   154460        3       3404
1     945        2592   130856        1       9671
2     946        2592   130856        2       3893
3     947       55357   119355        1       9672
4     948       55357   119355        2        331

In [9]:
dfdiag.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0     40301
1    1298         109   172335      2.0       486
2    1299         109   172335      3.0     58281
3    1300         109   172335      4.0      5855
4    1301         109   172335      5.0      4254

Put a period in the right place because the MIMIC-3 data files exclude them.Generally, procedure codes have dots after the first two digits, while diagnosis codes have dots after the first three digits.

In [22]:
def reformat(code, is_diag):
    code = ''.join(code.split('.'))
    if is_diag:
        if code.startswith('E'):
            if len(code) > 4:
                code = code[:4] + '.' + code[4:]
        else:
            if len(code) > 3:
                code = code[:3] + '.' + code[3:]
    else:
        code = code[:2] + '.' + code[2:]
    return code

In [23]:
dfdiag['ICD9_CODE'] = dfdiag.apply(lambda row: str(reformat(str(row[4]), True)), axis=1)
dfproc['ICD9_CODE'] = dfproc.apply(lambda row: str(reformat(str(row[4]), False)), axis=1)

In [45]:
dfcodes = pd.concat([dfdiag, dfproc])
dfcodes.to_csv('ALL_CODES.csv', index=False,
               columns=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE'],
               header=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE'])

In [46]:
df = pd.read_csv('ALL_CODES.csv')
len(df['ICD9_CODE'].unique())

/tmp/ipykernel_34542/3011825390.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ALL_CODES.csv')

9404

In [47]:
df = df[df['ICD9_CODE'].notna()]

In [48]:
len(df['ICD9_CODE'].unique())

9403

In [32]:
df.dtypes

ROW_ID          int64
SUBJECT_ID      int64
HADM_ID         int64
SEQ_NUM       float64
ICD9_CODE      object
dtype: object

### MAP

In [47]:
# mapping = {}
# dictionary=open('icd9to10dictionary.txt')
# # header=dictionary.readline()
# for line in dictionary:
#     icd_9 = str.strip(line.split('|')[0])
#     icd_10 = str.strip(line.split('|')[1])
#     desc = str.strip(line.split('|')[2])
#     mapping[icd_9] = [icd_10,desc]
# # print(header)

In [50]:
icd9codes = df['ICD9_CODE'].unique()
icd9codes

array(['403.01', '486', '582.81', ..., 82.35, 69.3, 38.37], dtype=object)

In [57]:
mapping = {} 
async def main():
    count = 0
    tasks = []
    headers = {
        "user-agent": "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"}
    async with aiohttp.ClientSession(headers=headers) as session:
        for i in tqdm(range(len(icd9codes))):
            icd_9 = icd9codes[i]
            url = f'https://www.icd10data.com/Convert/{icd_9}'
            async with session.get(url) as response:
                text = await response.text()
                tasks.append(text)
        for i in tqdm(range(len(tasks))):
            icd_9 = icd9codes[i]
            url = f'https://www.icd10data.com/Convert/{icd_9}'
            task = tasks[i]
            soup = BeautifulSoup(task, 'html.parser')
            icd_10 = soup.find_all("span", {"class": "identifier"})
            if len(icd_10) == 0:
                # print("ERROR: No ICD10 code found for code: ",icd_9)
                print(url,end=" ")
                print(icd_10)
                icd_10 = icd_9
            elif len(icd_10) == 1:
                icd_10 = str(icd_10[0]).split('>')[1].split('<')[0]
            else:
                icd_10 = str(icd_10[1]).split('>')[1].split('<')[0]
            mapping[icd_9] = icd_10
    print(count)

await main()

  5%|███████                                                                                                                                      | 468/9403 [08:48<2:48:06,  1.13s/it]

CancelledError:

In [ ]:
with open('icd9to10mapping.json', 'w') as f:
    json.dump(mapping, f)

In [39]:
f = open('icd9to10mapping.json','r')
mapping = json.load(f)

In [51]:
df = pd.read_csv('ALL_CODES.csv')
df = df[df['ICD9_CODE'].notna()]
len(df['ICD9_CODE'].unique())

/tmp/ipykernel_34542/1923795444.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ALL_CODES.csv')

9403

In [53]:
def icd9to10(icd_9):
    if icd_9 in mapping.keys():
        return mapping[icd_9]
    else:
        return mapping[str(icd_9)]
df['ICD10_CODE'] = df.apply(lambda row: str(icd9to10(row[4])), axis=1)

KeyError: '99.2'

In [ ]:
df.head()

In [115]:
df.to_csv('ALL_MAPPED_CODES.csv', index=False,
               columns=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE','ICD10_CODE'],
               header=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE','ICD10_CODE'])

In [62]:
df = pd.read_csv('ALL_MAPPED_CODES.csv')
len(df['ICD9_CODE'].unique())

8969

In [63]:
len(df['ICD10_CODE'].unique())

7710

### Concatenate

In [2]:
noteeventsdf = pd.read_csv('NOTEEVENTS.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
noteeventsdf.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [4]:
len(noteeventsdf.index)

2083180

In [8]:
noteeventsdf = noteeventsdf[noteeventsdf['CATEGORY']=='Discharge summary']

In [9]:
len(noteeventsdf.index)

59652

In [10]:
len(noteeventsdf['HADM_ID'].unique())

52726

In [14]:
noteeventsdf = noteeventsdf[noteeventsdf['HADM_ID'].notna()]

In [15]:
len(noteeventsdf['HADM_ID'].unique())

52726

In [16]:
noteeventsdf = noteeventsdf.sort_values(['SUBJECT_ID', 'HADM_ID'])

In [17]:
noteeventsdf.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
48470,44005,3,145834.0,2101-10-31,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2101-10-20**] Discharg...
4782,4788,4,185777.0,2191-03-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-3-16**] Discharge...
24476,20825,6,107064.0,2175-06-15,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2175-5-30**] Dischar...
22764,20070,9,150750.0,2149-11-13,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2149-11-9**] Dischar...
57341,57115,9,150750.0,2149-11-14,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 10050**], [**Known fi..."

In [ ]:
noteeventsdf.to_csv('DISCHARGE_SUMMARY.csv', index=False)

In [2]:
noteeventsdf = pd.read_csv('DISCHARGE_SUMMARY.csv')
noteeventsdf.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,44005,3,145834.0,2101-10-31,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2101-10-20**] Discharg...
1,4788,4,185777.0,2191-03-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-3-16**] Discharge...
2,20825,6,107064.0,2175-06-15,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2175-5-30**] Dischar...
3,20070,9,150750.0,2149-11-13,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2149-11-9**] Dischar...
4,57115,9,150750.0,2149-11-14,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 10050**], [**Known fi..."

In [20]:
labeldf = pd.read_csv('ALL_MAPPED_CODES.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [21]:
labeldf = labeldf.sort_values(['SUBJECT_ID', 'HADM_ID'])
labeldf.head()

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE ICD10_CODE
608          1           2   163353      1.0    V30.01     Z38.01
609          2           2   163353      2.0     V05.3        Z23
610          3           2   163353      3.0     V29.0      Z05.1
746085  109376           2   163353      1.0     99.55    3E0134Z
611          4           3   145834      1.0     038.9      A41.9

In [24]:
labeldf.to_csv('ALL_MAPPED_CODES.csv', index=False)

In [25]:
labeldf = pd.read_csv('ALL_MAPPED_CODES.csv')
labeldf.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE ICD10_CODE
0       1           2   163353      1.0    V30.01     Z38.01
1       2           2   163353      2.0     V05.3        Z23
2       3           2   163353      3.0     V29.0      Z05.1
3  109376           2   163353      1.0     99.55    3E0134Z
4       4           3   145834      1.0     038.9      A41.9

In [26]:
len(noteeventsdf['HADM_ID'].unique()), len(labeldf['HADM_ID'].unique())

(52726, 58929)

In [30]:
hadm_ids = set(noteeventsdf['HADM_ID'])
with open('ALL_MAPPED_CODES.csv', 'r') as lf:
    with open('ALL_CODES_filtered.csv', 'w') as of:
        w = csv.writer(of)
        w.writerow(['SUBJECT_ID', 'HADM_ID', 'ICD9_CODE','ICD10_CODE', 'ADMITTIME', 'DISCHTIME'])
        r = csv.reader(lf)
        next(r)
        for i,row in enumerate(r):
            hadm_id = int(row[2])
            if hadm_id in hadm_ids:
                w.writerow(row[1:3] + [row[-2],row[-1], '', ''])

In [64]:
df = pd.read_csv('ALL_CODES_filtered.csv')
len(df['HADM_ID'].unique())

52722

In [65]:
len(df['ICD9_CODE'].unique())

8884

In [40]:
def next_labels(labelsfile):
    labels_reader = csv.reader(labelsfile)
    next(labels_reader)
    next(labels_reader)
    first_label_line = next(labels_reader)
    cur_subj = int(first_label_line[0])
    cur_hadm = int(float(first_label_line[1]))
    cur_labels1 = [first_label_line[2]]
    cur_labels2 = [first_label_line[3]]
    flag = 0
    for row in labels_reader:
        flag += 1
        if flag%2:
            continue
        subj_id = int(row[0])
        hadm_id = int(float(row[1]))
        code1 = row[2]
        code2 = row[3]
        if hadm_id != cur_hadm or subj_id != cur_subj:
            yield cur_subj, cur_labels1,cur_labels2, cur_hadm
            cur_labels1 = [code1]
            cur_labels2 = [code2]
            cur_subj = subj_id
            cur_hadm = hadm_id
        else:
            cur_labels1.append(code1)
            cur_labels2.append(code2)
    yield cur_subj, cur_labels1,cur_labels1, cur_hadm

def next_notes(notesfile):
    nr = csv.reader(notesfile)
    next(nr)
    first_note = next(nr)
    cur_subj = int(first_note[1])
    cur_hadm = int(float(first_note[2]))
    cur_text = first_note[-1]
    for row in nr:
        subj_id = int(row[1])
        hadm_id = int(float(row[2]))
        text = row[-1]
        if hadm_id != cur_hadm or subj_id != cur_subj:
            yield cur_subj, cur_text, cur_hadm
            cur_text = text
            cur_subj = subj_id
            cur_hadm = hadm_id
        else:
            cur_text += " " + text
    yield cur_subj, cur_text, cur_hadm

In [52]:
with open('ALL_CODES_filtered.csv', 'r') as lf:
    print("CONCATENATING")
    with open('DISCHARGE_SUMMARY.csv', 'r') as notesfile:
        with open('notes_labeled.csv', 'w') as outfile:
            w = csv.writer(outfile)
            w.writerow(['SUBJECT_ID', 'HADM_ID', 'TEXT', 'LABELS1','LABELS2'])
            labels_gen = next_labels(lf)
            notes_gen = next_notes(notesfile)
            flag=True
            for i, (subj_id, text, hadm_id) in enumerate(notes_gen):
                if i % 10000 == 0:
                    print(str(i) + " done")
                if flag:
                    cur_subj, cur_labels1,cur_labels2, cur_hadm = next(labels_gen)
                if cur_hadm == hadm_id:
                    flag=True
                    w.writerow([subj_id, str(hadm_id), text, ';'.join(cur_labels1),';'.join(cur_labels2)])
                else:
                    flag=False
                    print(cur_hadm,hadm_id)
                    print("couldn't find matching hadm_id. data is probably not sorted correctly")
#                     break

CONCATENATING
0 done
10000 done
147784 110220
couldn't find matching hadm_id. data is probably not sorted correctly
108144 142890
couldn't find matching hadm_id. data is probably not sorted correctly
20000 done
185270 109963
couldn't find matching hadm_id. data is probably not sorted correctly
30000 done
193503 182252
couldn't find matching hadm_id. data is probably not sorted correctly
40000 done
50000 done

In [53]:
finaldf = pd.read_csv('notes_labeled.csv')

In [54]:
finaldf.head()

,SUBJECT_ID,HADM_ID,TEXT,LABELS1,LABELS2
0,3,145834,Admission Date: [**2101-10-20**] Discharg...,038.9;785.59;584.9;427.5;410.71;428.0;682.6;42...,A41.9;R57.1;N17.9;I46.9;I21.4;I50.814;L03.119;...
1,4,185777,Admission Date: [**2191-3-16**] Discharge...,042;136.3;799.4;276.3;790.7;571.5;041.11;V09.0...,B20;B59;R64;E87.3;R78.81;K74.0;B95.61;Z16.11;E...
2,6,107064,Admission Date: [**2175-5-30**] Dischar...,403.91;444.0;997.2;276.6;276.7;285.9;275.3;V15...,I12.0;444.0;T81.719A;276.6;E87.5;D64.9;E83.30;...
3,9,150750,Admission Date: [**2149-11-9**] Dischar...,431;507.0;428.0;584.9;276.5;401.9;96.72;96.04,I61.9;J69.0;I50.814;N17.9;276.5;I10;5A1955Z;0B...
4,10,184167,Admission Date: [**2103-6-28**] Dischar...,V30.00;774.2;765.25;765.15;V29.0;99.83;99.15;96.6,Z38.00;P59.0;P07.32;P07.15;Z05.1;6A600ZZ;3E033...

In [55]:
len(finaldf['HADM_ID'].unique())

52722

In [58]:
finaldf.iloc[0]

SUBJECT_ID                                                    3
HADM_ID                                                  145834
TEXT          Admission Date:  [**2101-10-20**]     Discharg...
LABELS1       038.9;785.59;584.9;427.5;410.71;428.0;682.6;42...
LABELS2       A41.9;R57.1;N17.9;I46.9;I21.4;I50.814;L03.119;...
Name: 0, dtype: object

### Preprocess Text

In [84]:
df  = pd.read_csv('notes_labeled.csv')

In [85]:
df.head()

,SUBJECT_ID,HADM_ID,TEXT,LABELS1,LABELS2
0,3,145834,Admission Date: [**2101-10-20**] Discharg...,038.9;785.59;584.9;427.5;410.71;428.0;682.6;42...,A41.9;R57.1;N17.9;I46.9;I21.4;I50.814;L03.119;...
1,4,185777,Admission Date: [**2191-3-16**] Discharge...,042;136.3;799.4;276.3;790.7;571.5;041.11;V09.0...,B20;B59;R64;E87.3;R78.81;K74.0;B95.61;Z16.11;E...
2,6,107064,Admission Date: [**2175-5-30**] Dischar...,403.91;444.0;997.2;276.6;276.7;285.9;275.3;V15...,I12.0;444.0;T81.719A;276.6;E87.5;D64.9;E83.30;...
3,9,150750,Admission Date: [**2149-11-9**] Dischar...,431;507.0;428.0;584.9;276.5;401.9;96.72;96.04,I61.9;J69.0;I50.814;N17.9;276.5;I10;5A1955Z;0B...
4,10,184167,Admission Date: [**2103-6-28**] Dischar...,V30.00;774.2;765.25;765.15;V29.0;99.83;99.15;96.6,Z38.00;P59.0;P07.32;P07.15;Z05.1;6A600ZZ;3E033...

In [86]:
df.iloc[0,2]

"Admission Date:  [**2101-10-20**]     Discharge Date:  [**2101-10-31**]\r\n\r\nDate of Birth:   [**2025-4-11**]     Sex:  M\r\n\r\nService:  Medicine\r\n\r\nCHIEF COMPLAINT:  Admitted from rehabilitation for\r\nhypotension (systolic blood pressure to the 70s) and\r\ndecreased urine output.\r\n\r\nHISTORY OF PRESENT ILLNESS:  The patient is a 76-year-old\r\nmale who had been hospitalized at the [**Hospital1 190**] from [**10-11**] through [**10-19**] of [**2101**]\r\nafter undergoing a left femoral-AT bypass graft and was\r\nsubsequently discharged to a rehabilitation facility.\r\n\r\nOn [**2101-10-20**], he presented again to the [**Hospital1 346**] after being found to have a systolic\r\nblood pressure in the 70s and no urine output for 17 hours.\r\nA Foley catheter placed at the rehabilitation facility\r\nyielded 100 cc of murky/brown urine.  There may also have\r\nbeen purulent discharge at the penile meatus at this time.\r\n\r\nOn presentation to the Emergency Department, the patient was\r\nwithout subjective complaints.  In the Emergency Department,\r\nhe was found to have systolic blood pressure of 85.  He was\r\ngiven 6 liters of intravenous fluids and transiently started\r\non dopamine for a systolic blood pressure in the 80.s\r\n\r\nPAST MEDICAL HISTORY:\r\n 1.  Coronary artery disease with diffuse 3-vessel disease;\r\nright-dominant, status post proximal left circumflex stent in\r\n[**2101-7-9**] with occlusion of the distal left circumflex;\r\nstatus post right coronary artery stent on [**2101-8-26**] (no\r\npercutaneous coronary intervention to 99% diagonal left\r\ncircumflex, 80% small proximal left anterior descending\r\nartery, or 80% small distal left anterior descending artery).\r\n 2.  Congestive heart failure (with an ejection fraction\r\nof 15% to 20%).\r\n 3.  Type 2 diabetes with neuropathy.\r\n 4.  Hypertension.\r\n 5.  Diverticulosis (found on colonoscopy in [**2101-7-9**]).\r\n 6.  Alzheimer's dementia.\r\n 7.  History of gastrointestinal bleed (while the patient was\r\ntaking eptifibatide).\r\n 8.  Cardiac risk factors (with a baseline creatinine\r\nof 1.4 to 1.6).\r\n 9.  Hypercholesterolemia.\r\n10.  History of methicillin-resistant Staphylococcus aureus\r\nand Pseudomonas growth in wound cultures.\r\n11.  Severe peripheral vascular disease; status post left\r\nfemoral-AT bypass graft on [**2101-10-11**].\r\n12.  Chronic nonhealing foot ulcers.\r\n13.  Recent right pedal cellulitis.\r\n\r\nALLERGIES:  The patient has no known drug allergies.\r\n\r\nMEDICATIONS ON ADMISSION:\r\n 1.  Vancomycin 1 g intravenously q.24h. for a level of less\r\nthan 15 (started on [**2101-10-4**]).\r\n 2.  Levofloxacin 250 mg p.o. q.d. (started on [**2101-10-4**]).\r\n 3.  Metronidazole 500 mg p.o. q.8h. (started on [**2101-10-4**]).\r\n 4.  Heparin 5000 units subcutaneous b.i.d.\r\n 5.  Simvastatin 40 mg p.o. q.d.\r\n 6.  Lisinopril 5 mg p.o. q.d.\r\n 7.  Furosemide 40 mg p.o. q.d.\r\n 8.  Vitamin E 400 IU p.o. q.d.\r\n 9.  Atenolol 25 mg p.o. q.d.\r\n10.  Pantoprazole 40 mg p.o. q.d.\r\n11.  Ascorbic acid 500 mg p.o. b.i.d.\r\n12.  NPH 17 units b.i.d.\r\n13.  Regular insulin sliding-scale.\r\n14.  Bisacodyl 10 mg p.o./p.r. as needed.\r\n15.  Docusate 100 mg p.o. b.i.d.\r\n16.  Percocet 5/325 mg one tablet p.o. q.4-6h. as needed for\r\npain.\r\n17.  Aspirin 81 mg p.o. q.d.\r\n18.  Metoprolol 75 mg p.o. b.i.d.\r\n\r\nSOCIAL HISTORY:  The patient is retired and had been living\r\nat home with his wife prior to his admission to the hospital\r\non [**2101-10-11**]; he had been living at [**Hospital3 1761**] for the day prior to admission.  He is a\r\nsocial drinker and has a 40-pack-year smoking history;\r\nalthough, he quit smoking 20 years ago.\r\n\r\nPHYSICAL EXAMINATION ON PRESENTATION:   Initial physical\r\nexamination revealed temperature was 96.1 degrees Fahrenheit,\r\nheart rate was 83, blood pressure was 124/42 (following\r\nadministration of 3 liters of normal saline), respiratory\r\nwas 24, and his oxygen saturation was 100% on 2 liters nasal\r\ncannula.  His heart had a regular rate and rhythm.  There\r\nwere normal first and second heart sounds.  There was a 2/6\r\nsystolic ejection murmur, and there were no rubs or gallops.\r\nHis lungs were clear to auscultation bilaterally.  His\r\nabdomen was soft, nontender, and nondistended, and there were\r\nhypoactive bowel sounds.  He had a palpable bypass graft\r\npulse, [**Hospital3 17394**] dorsalis pedis and posterior tibialis\r\npulses bilaterally; and his surgical incision was clean, dry,\r\nand intact.  Please note that the above examination was done\r\nby the Vascular Surgery team, which was the team that was\r\ninitially planning to admit the patient to the hospital.\r\n\r\nPERTINENT LABORATORY DATA ON PRESENTATION:  On initial\r\nlaboratory evaluation the patient had a white blood cell\r\ncount of 12.7, hematocrit was 30.2, and platelets\r\nwere 282,000.  His PT was 13.5, PTT was 30.7, and INR\r\nwas 1.3.  His serum chemistries revealed sodium was 136,\r\npotassium was 5.4, chloride was 99, bicarbonate was 25, blood\r\nurea nitrogen was 53, creatinine was 3.2, and blood glucose\r\nwas 91.  His calcium was 8.2, magnesium was 2.4, and\r\nphosphate was 4.8.  Blood cultures drawn on admission were\r\npending, but ultimately negative.  A urine culture taken on\r\nadmission was initially pending, but ultimately grew out\r\nyeast.  A sputum culture taken on admission was also\r\ninitially pending, but ultimately also grew out yeast.\r\n\r\nRADIOLOGY/IMAGING:  His admission chest x-ray demonstrated\r\nstable prominence of the right main pulmonary artery; no\r\nfocal areas of consolidation; overall stable appearance of\r\nthe chest compared with a [**2101-10-15**] study.  No\r\nradiographic evidence of congestive heart failure or\r\npneumonia.\r\n\r\nHis admission electrocardiogram demonstrated a sinus rhythm,\r\nnonspecific inferior/lateral T wave changes, low QRS voltages\r\nin the limb leads, and T wave changes in V5 and V6 when\r\ncompared with an electrocardiogram dated [**2101-10-12**].\r\n\r\nAn initial abdominal CT was a limited noncontrast examination\r\nthat demonstrated diffuse vascular calcifications.  No\r\nevidence of an abdominal aortic aneurysm or free fluid,\r\nincompletely imaged coronary artery calcification, a simple\r\nleft renal cyst, sigmoid diverticulosis, and an enlarged and\r\npartially calcified prostate gland.\r\n\r\nHOSPITAL COURSE BY SYSTEM:\r\n\r\n1.  CARDIOVASCULAR:  The patient was initially admitted to\r\nthe Vascular Intensive Care Unit with hypotension, decreased\r\nurine output, and acute renal failure; most likely secondary\r\nto a presumed gram-negative urosepsis (although there were\r\nnever any positive culture data to confirm this diagnosis).\r\n\r\nWhile boarding in the Medical Intensive Care Unit on the\r\nnight of admission, the patient had a sudden\r\ncardiorespiratory arrest.  He was resuscitated with\r\nepinephrine, lidocaine, and direct current cardioversion\r\ntimes four.  He was also intubate for airway protection.\r\n\r\nFollowing these measures, the patient returned to a sinus\r\nrhythm with a systolic blood pressure of approximately 100;\r\nthe total time elapsed from the beginning of the arrest to\r\nthe return of a pulse was approximately 16 minutes.  He\r\nsubsequently required double pressors to maintain his blood\r\npressure.\r\n\r\nAn echocardiogram performed at the bedside demonstrated a\r\ntrivial pericardial effusion and a left ventricular ejection\r\nfraction of 20% to 25% in the setting of tachycardia and a\r\nhyperdynamic right ventricle; suggesting elevated right-sided\r\nfilling pressures.  Although the definitive etiology of this\r\narrest remained unknown, the most likely trigger was a\r\nnon-Q-wave myocardial infarction, as his troponin values were\r\nelevated to greater than 50 following his arrest.\r\n\r\nA repeat echocardiogram done on [**2101-10-21**]\r\ndemonstrated mild left atrial dilation, an ejection fraction\r\nof 15% to 20%, resting regional wall motion abnormalities\r\nincluding inferior, mid, and apical left ventricular\r\nakinesis, depressed right ventricular systolic function, and\r\nmoderate mitral regurgitation.  Compared with the prior study\r\nof [**2101-10-20**]; the left ventricular function was\r\nunchanged.  There was moderate mitral regurgitation, and the\r\nright ventricular function appeared worse.\r\n\r\nOn [**2101-10-21**], the patient was loaded with amiodarone\r\nand was subsequently started on oral amiodarone.  The\r\nfollowing day, he was started on heparin intravenously given\r\nhis elevated serum troponin to greater than 50; this\r\nmedication was continued for 72 hours.  Given his elevated\r\ntroponins and non-Q-wave myocardial infarction, the patient\r\nwas a candidate for cardiac catheterization.\r\n\r\nAfter discussions between the Medical Intensive Care Unit\r\nteam and the patient's family, however, the decision was made\r\nto not pursue further invasive procedures given that the\r\npatient had been made do not resuscitate/do not intubate\r\nfollowing the resuscitation mentioned above, and his family\r\nno longer wished for aggressive resuscitating measures.\r\n\r\nBy [**2101-10-23**], he was off pressors and he was\r\nrestarted on a beta blocker and ACE inhibitor at low doses.\r\n\r\nOn the evening of [**2101-10-25**], the patient complained\r\nof substernal chest pain that was relieved by NPG SL and\r\nmorphine.  He also had ST segment depressions in V2 and V3\r\nthat reverted to baseline after the resolution of his pain.\r\nTherefore, the patient was again started on heparin;\r\nalthough, this was discontinued on [**2101-10-26**] when\r\nthe patient ruled out for a myocardial infarction by cardiac\r\nenzymes.  He again had substernal chest pain on [**2101-10-27**]; although, he had no electrocardiogram changes, and he\r\nagain ruled out for a myocardial infarction by cardiac\r\nenzymes.\r\n\r\nBy hospital day four, the patient began to develop evidence\r\nof congestive heart failure given his aggressive fluid\r\nresuscitation, and gentle diuresis with furosemide was begun.\r\nBy the time of his transfer to the General Medicine Service\r\non [**2101-10-26**], the patient was still significantly\r\nvolume overloaded following his aggressive fluid\r\nresuscitation in the Medical Intensive Care Unit.  Therefore,\r\nhe was continued on the program of gentle diuresis given that\r\nhe was having signs and symptoms of right-sided congestive\r\nheart failure.  He achieved adequate diuresis by the time of\r\nhis discharge to rehabilitation, as his oxygen saturation was\r\ngreater than 95% on 2 liters nasal cannula.\r\n\r\n2.  INFECTIOUS DISEASE/SEPSIS:  The patient was started on\r\ngentamicin and piperacillin/tazobactam in addition to the\r\nlevofloxacin, metronidazole, and vancomycin he was already\r\ntaking for right lower extremity cellulitis prior to\r\nadmission for empiric coverage of a presumed gram-negative\r\nurosepsis, and he was aggressively hydrated with intravenous\r\nfluids.\r\n\r\nOn [**2101-10-21**], his levofloxacin and metronidazole was\r\ndiscontinued, and he was started on fluconazole given the\r\ngrowth of yeast on urine culture.  He was taken off of\r\ngentamicin on hospital day three, and his fluconazole was\r\ndiscontinued on hospital day five (as per the Infectious\r\nDisease Service).  He was taken off of vancomycin on\r\n[**2101-10-28**], and his piperacillin/tazobactam was\r\ndiscontinued on [**2101-10-29**].\r\n\r\nDespite the presumption of a gram-negative urosepsis\r\nprecipitating this admission, the patient did not have any\r\npositive blood or urine cultures aside from the growth of\r\nyeast in two urine cultures noted above.  He remained\r\nafebrile both before and after discontinuation of his\r\nantibiotics, and he was found to be Clostridium difficile\r\nnegative on [**2101-10-28**].\r\n\r\n3.  PULMONARY:  As noted above, the patient was intubated and\r\nhe was extubated on [**2101-10-24**].  He subsequently\r\ndeveloped wheezing and mild hypoxia; most likely secondary to\r\ncardiac asthma and fluid overload in the setting of his\r\naggressive fluid resuscitation.  He was gently diuresed\r\ntoward the end of his hospitalization, and by the time of his\r\nhe was maintaining an oxygen saturation of greater than 95%\r\non 2 liters nasal cannula, intermittent ipratropium\r\nnebulizers, and chest physical therapy for clearance of his\r\nrespiratory secretions.\r\n\r\n4.  RENAL:  The patient presented with acute renal failure\r\nand prerenal azotemia that rapidly resolved following fluid\r\nresuscitation.  By the time of discharge, his serum\r\ncreatinine was stable and at his preadmission baseline.\r\n\r\n5.  NUTRITION:  The patient was found to be profoundly\r\nmalnourished with a serum albumin of 1.8 on admission.  Once\r\nhe was extubated and taking orals, he performed poorly on a\r\nmodified barium swallowing study and was started on a thin\r\nliquid, ground-solid diet with whole medication tablets,\r\nsmall bites and sips, upright posture with meals, and\r\naspiration precautions.  He was also given ProMod shakes with\r\nand between meals for nutritional supplementation of his\r\nheart-healthy/diabetic diet.\r\n\r\n6.  VASCULAR:  The patient's operative incisions and foot\r\nulcers continued to heal throughout this admission.  He was\r\nstarted on an multivitamin, vitamin C, and zinc for improved\r\nwound healing.\r\n\r\n7.  HEMATOLOGY:  The patient was transfused one unit of\r\npacked red blood cells on [**2101-10-27**] to maintain a\r\nhematocrit of greater than 30 given his history of severe\r\ncoronary artery disease.  His hematocrit subsequently\r\nremained stable.\r\n\r\nCONDITION AT DISCHARGE:  Condition on discharge was stable.\r\n\r\nDISCHARGE STATUS:  [**First Name4 (NamePattern1) 1188**] [**Last Name (NamePattern1) **] rehabilitation facility.\r\n\r\nDISCHARGE DIAGNOSES:\r\n 1.  Cardiorespiratory arrest.\r\n 2.  Non-Q-wave myocardial infarction.\r\n 3.  Acute renal failure.\r\n 4.  Coronary artery disease with diffuse 3-vessel disease;\r\nright-dominant, status post proximal left circumflex stent in\r\n[**2101-7-9**] with occlusion of distal left circumflex; status\r\npost right coronary artery stent on [**2101-10-27**] (no\r\npercutaneous coronary intervention to 99%, distal left\r\ncircumflex, 80% small proximal left anterior descending\r\nartery, 80% small distal left anterior descending artery).\r\n 5.  Congestive heart failure (with an ejection fraction\r\nof 15% to 20%).\r\n 6.  Type 2 diabetes with neuropathy.\r\n 7.  Hypertension.\r\n 8.  Diverticulosis (found on colonoscopy in [**2101-7-9**]).\r\n 9.  Alzheimer's dementia.\r\n10.  History of gastrointestinal bleed (while the patient was\r\ntaking eptifibatide).\r\n11.  Cardiac risk factors (with a baseline creatinine\r\nof 1.4 to 1.6).\r\n12.  History of methicillin-resistant Staphylococcus aureus\r\nand Pseudomonas growth in wound cultures.\r\n13.  Severe peripheral vascular disease; status post left\r\nfemoral-AT bypass graft on [**2101-10-11**].\r\n14.  Chronic nonhealing foot ulcers.\r\n\r\nMEDICATIONS ON DISCHARGE:\r\n 1.  Amiodarone 400 mg p.o. b.i.d. (through [**2101-11-2**]), then 400 mg p.o. q.d. (times one week), then 200 mg\r\np.o. q.d.\r\n 2.  Metoprolol 50 mg p.o. b.i.d.\r\n 3.  Captopril 6.25 mg p.o. t.i.d.\r\n 4.  Aspirin 325 mg p.o. q.d.\r\n 5.  Pantoprazole 40 mg p.o. q.d.\r\n 6.  Heparin 5000 units subcutaneously b.i.d.\r\n 7.  Multivitamin one tablet p.o. q.d.\r\n 8.  Zinc sulfate 220 mg p.o. q.d.\r\n 9.  Vitamin C 500 mg p.o. q.d.\r\n10.  Ipratropium nebulizers q.4-6h. as needed (for wheezing).\r\n11.  Acetaminophen 325 mg to 650 mg p.o. q.4-6h. as needed\r\n(for pain).\r\n12.  Miconazole 2% powder to groin b.i.d.\r\n13.  Santyl lotion to heels b.i.d.\r\n14.  Regular insulin sliding-scale.\r\n\r\nCODE STATUS:  Do not resuscitate/do not intubate.\r\n\r\nNOTE:  If applicable, an addendum to this Discharge Summary\r\nwill be dictated to include follow-up appointments as well as\r\nany changes to the medication list noted above.\r\n\r\n\r\n\r\n\r\n\r\n\r\n                          [**First Name11 (Name Pattern1) **] [**Last Name (NamePattern4) 1604**], M.D.  [**MD Number(1) 1605**]\r\n\r\nDictated By:[**Name8 (MD) 2507**]\r\n\r\nMEDQUIST36\r\n\r\nD:  [**2101-10-31**]  01:07\r\nT:  [**2101-11-5**]  03:44\r\nJOB#:  [**Job Number **]\r\n"

In [98]:
tokenizer = RegexpTokenizer(r'\w+')
def preprocess_text(discharge_summary):
    ds = discharge_summary
    ds = re.sub('\[.*\]', '', ds)
    ds = ds.replace('\n',' ')
    ds = ds.replace('\r',' ')
    terms = ['Admission Date:','Discharge Date:','Date of Birth:','Service:','ADDENDUM:','Date/Time:','Completed by:','Dictated By:',' D:',' T:','JOB#:','Followup Instructions:','Follow up w/ Dr.', 'Provider:']
    for term in terms:
        ds = re.sub(term,'',ds)
    ds = re.sub('\d+:\d+','',ds)
    ds = re.sub(' +',' ',ds)
    ds = re.sub('\.','',ds)
    ds = ds.strip()
    tokens = [t.lower() for t in tokenizer.tokenize(ds)]
    ds = ' '.join(tokens)
    return ds
preprocess_text(df.iloc[0,2])

'sex m medicine chief complaint admitted from rehabilitation for hypotension systolic blood pressure to the 70s and decreased urine output history of present illness the patient is a 76 year old male who had been hospitalized at the after undergoing a left femoral at bypass graft and was subsequently discharged to a rehabilitation facility on after being found to have a systolic blood pressure in the 70s and no urine output for 17 hours a foley catheter placed at the rehabilitation facility yielded 100 cc of murky brown urine there may also have been purulent discharge at the penile meatus at this time on presentation to the emergency department the patient was without subjective complaints in the emergency department he was found to have systolic blood pressure of 85 he was given 6 liters of intravenous fluids and transiently started on dopamine for a systolic blood pressure in the 80s past medical history 1 coronary artery disease with diffuse 3 vessel disease right dominant status post proximal left circumflex stent in with occlusion of the distal left circumflex status post right coronary artery stent on no percutaneous coronary intervention to 99 diagonal left circumflex 80 small proximal left anterior descending artery or 80 small distal left anterior descending artery 2 congestive heart failure with an ejection fraction of 15 to 20 3 type 2 diabetes with neuropathy 4 hypertension 5 diverticulosis found on colonoscopy in 6 alzheimer s dementia 7 history of gastrointestinal bleed while the patient was taking eptifibatide 8 cardiac risk factors with a baseline creatinine of 14 to 16 9 hypercholesterolemia 10 history of methicillin resistant staphylococcus aureus and pseudomonas growth in wound cultures 11 severe peripheral vascular disease status post left femoral at bypass graft on 12 chronic nonhealing foot ulcers 13 recent right pedal cellulitis allergies the patient has no known drug allergies medications on admission 1 vancomycin 1 g intravenously q24h for a level of less than 15 started on 2 levofloxacin 250 mg po qd started on 3 metronidazole 500 mg po q8h started on 4 heparin 5000 units subcutaneous bid 5 simvastatin 40 mg po qd 6 lisinopril 5 mg po qd 7 furosemide 40 mg po qd 8 vitamin e 400 iu po qd 9 atenolol 25 mg po qd 10 pantoprazole 40 mg po qd 11 ascorbic acid 500 mg po bid 12 nph 17 units bid 13 regular insulin sliding scale 14 bisacodyl 10 mg po pr as needed 15 docusate 100 mg po bid 16 percocet 5 325 mg one tablet po q4 6h as needed for pain 17 aspirin 81 mg po qd 18 metoprolol 75 mg po bid social history the patient is retired and had been living at home with his wife prior to his admission to the hospital on for the day prior to admission he is a social drinker and has a 40 pack year smoking history although he quit smoking 20 years ago physical examination on presentation initial physical examination revealed temperature was 961 degrees fahrenheit heart rate was 83 blood pressure was 124 42 following administration of 3 liters of normal saline respiratory was 24 and his oxygen saturation was 100 on 2 liters nasal cannula his heart had a regular rate and rhythm there were normal first and second heart sounds there was a 2 6 systolic ejection murmur and there were no rubs or gallops his lungs were clear to auscultation bilaterally his abdomen was soft nontender and nondistended and there were hypoactive bowel sounds he had a palpable bypass graft pulse dorsalis pedis and posterior tibialis pulses bilaterally and his surgical incision was clean dry and intact please note that the above examination was done by the vascular surgery team which was the team that was initially planning to admit the patient to the hospital pertinent laboratory data on presentation on initial laboratory evaluation the patient had a white blood cell count of 127 hematocrit was 302 and platelets were 282 000 his pt was 135 ptt was 307 and inr was 13 his serum chemistries revealed sodium was 136 potassium was 54 chloride was 99 bicarbonate was 25 blood urea nitrogen was 53 creatinine was 32 and blood glucose was 91 his calcium was 82 magnesium was 24 and phosphate was 48 blood cultures drawn on admission were pending but ultimately negative a urine culture taken on admission was initially pending but ultimately grew out yeast a sputum culture taken on admission was also initially pending but ultimately also grew out yeast radiology imaging his admission chest x ray demonstrated stable prominence of the right main pulmonary artery no focal areas of consolidation overall stable appearance of the chest compared with a study no radiographic evidence of congestive heart failure or pneumonia his admission electrocardiogram demonstrated a sinus rhythm nonspecific inferior lateral t wave changes low qrs voltages in the limb leads and t wave changes in v5 and v6 when compared with an electrocardiogram dated an initial abdominal ct was a limited noncontrast examination that demonstrated diffuse vascular calcifications no evidence of an abdominal aortic aneurysm or free fluid incompletely imaged coronary artery calcification a simple left renal cyst sigmoid diverticulosis and an enlarged and partially calcified prostate gland hospital course by system 1 cardiovascular the patient was initially admitted to the vascular intensive care unit with hypotension decreased urine output and acute renal failure most likely secondary to a presumed gram negative urosepsis although there were never any positive culture data to confirm this diagnosis while boarding in the medical intensive care unit on the night of admission the patient had a sudden cardiorespiratory arrest he was resuscitated with epinephrine lidocaine and direct current cardioversion times four he was also intubate for airway protection following these measures the patient returned to a sinus rhythm with a systolic blood pressure of approximately 100 the total time elapsed from the beginning of the arrest to the return of a pulse was approximately 16 minutes he subsequently required double pressors to maintain his blood pressure an echocardiogram performed at the bedside demonstrated a trivial pericardial effusion and a left ventricular ejection fraction of 20 to 25 in the setting of tachycardia and a hyperdynamic right ventricle suggesting elevated right sided filling pressures although the definitive etiology of this arrest remained unknown the most likely trigger was a non q wave myocardial infarction as his troponin values were elevated to greater than 50 following his arrest a repeat echocardiogram done on demonstrated mild left atrial dilation an ejection fraction of 15 to 20 resting regional wall motion abnormalities including inferior mid and apical left ventricular akinesis depressed right ventricular systolic function and moderate mitral regurgitation compared with the prior study of the left ventricular function was unchanged there was moderate mitral regurgitation and the right ventricular function appeared worse on the patient was loaded with amiodarone and was subsequently started on oral amiodarone the following day he was started on heparin intravenously given his elevated serum troponin to greater than 50 this medication was continued for 72 hours given his elevated troponins and non q wave myocardial infarction the patient was a candidate for cardiac catheterization after discussions between the medical intensive care unit team and the patient s family however the decision was made to not pursue further invasive procedures given that the patient had been made do not resuscitate do not intubate following the resuscitation mentioned above and his family no longer wished for aggressive resuscitating measures by he was off pressors and he was restarted on a beta blocker and ace inhibitor at low doses on the evening of the patient complained of substernal chest pain that was relieved by npg sl and morphine he also had st segment depressions in v2 and v3 that reverted to baseline after the resolution of his pain therefore the patient was again started on heparin although this was discontinued on when the patient ruled out for a myocardial infarction by cardiac enzymes he again had substernal chest pain on although he had no electrocardiogram changes and he again ruled out for a myocardial infarction by cardiac enzymes by hospital day four the patient began to develop evidence of congestive heart failure given his aggressive fluid resuscitation and gentle diuresis with furosemide was begun by the time of his transfer to the general medicine service on the patient was still significantly volume overloaded following his aggressive fluid resuscitation in the medical intensive care unit therefore he was continued on the program of gentle diuresis given that he was having signs and symptoms of right sided congestive heart failure he achieved adequate diuresis by the time of his discharge to rehabilitation as his oxygen saturation was greater than 95 on 2 liters nasal cannula 2 infectious disease sepsis the patient was started on gentamicin and piperacillin tazobactam in addition to the levofloxacin metronidazole and vancomycin he was already taking for right lower extremity cellulitis prior to admission for empiric coverage of a presumed gram negative urosepsis and he was aggressively hydrated with intravenous fluids on his levofloxacin and metronidazole was discontinued and he was started on fluconazole given the growth of yeast on urine culture he was taken off of gentamicin on hospital day three and his fluconazole was discontinued on hospital day five as per the infectious disease service he was taken off of vancomycin on and his piperacillin tazobactam was discontinued on despite the presumption of a gram negative urosepsis precipitating this admission the patient did not have any positive blood or urine cultures aside from the growth of yeast in two urine cultures noted above he remained afebrile both before and after discontinuation of his antibiotics and he was found to be clostridium difficile negative on 3 pulmonary as noted above the patient was intubated and he was extubated on he subsequently developed wheezing and mild hypoxia most likely secondary to cardiac asthma and fluid overload in the setting of his aggressive fluid resuscitation he was gently diuresed toward the end of his hospitalization and by the time of his he was maintaining an oxygen saturation of greater than 95 on 2 liters nasal cannula intermittent ipratropium nebulizers and chest physical therapy for clearance of his respiratory secretions 4 renal the patient presented with acute renal failure and prerenal azotemia that rapidly resolved following fluid resuscitation by the time of discharge his serum creatinine was stable and at his preadmission baseline 5 nutrition the patient was found to be profoundly malnourished with a serum albumin of 18 on admission once he was extubated and taking orals he performed poorly on a modified barium swallowing study and was started on a thin liquid ground solid diet with whole medication tablets small bites and sips upright posture with meals and aspiration precautions he was also given promod shakes with and between meals for nutritional supplementation of his heart healthy diabetic diet 6 vascular the patient s operative incisions and foot ulcers continued to heal throughout this admission he was started on an multivitamin vitamin c and zinc for improved wound healing 7 hematology the patient was transfused one unit of packed red blood cells on to maintain a hematocrit of greater than 30 given his history of severe coronary artery disease his hematocrit subsequently remained stable condition at discharge condition on discharge was stable discharge status rehabilitation facility discharge diagnoses 1 cardiorespiratory arrest 2 non q wave myocardial infarction 3 acute renal failure 4 coronary artery disease with diffuse 3 vessel disease right dominant status post proximal left circumflex stent in with occlusion of distal left circumflex status post right coronary artery stent on no percutaneous coronary intervention to 99 distal left circumflex 80 small proximal left anterior descending artery 80 small distal left anterior descending artery 5 congestive heart failure with an ejection fraction of 15 to 20 6 type 2 diabetes with neuropathy 7 hypertension 8 diverticulosis found on colonoscopy in 9 alzheimer s dementia 10 history of gastrointestinal bleed while the patient was taking eptifibatide 11 cardiac risk factors with a baseline creatinine of 14 to 16 12 history of methicillin resistant staphylococcus aureus and pseudomonas growth in wound cultures 13 severe peripheral vascular disease status post left femoral at bypass graft on 14 chronic nonhealing foot ulcers medications on discharge 1 amiodarone 400 mg po bid through then 400 mg po qd times one week then 200 mg po qd 2 metoprolol 50 mg po bid 3 captopril 625 mg po tid 4 aspirin 325 mg po qd 5 pantoprazole 40 mg po qd 6 heparin 5000 units subcutaneously bid 7 multivitamin one tablet po qd 8 zinc sulfate 220 mg po qd 9 vitamin c 500 mg po qd 10 ipratropium nebulizers q4 6h as needed for wheezing 11 acetaminophen 325 mg to 650 mg po q4 6h as needed for pain 12 miconazole 2 powder to groin bid 13 santyl lotion to heels bid 14 regular insulin sliding scale code status do not resuscitate do not intubate note if applicable an addendum to this discharge summary will be dictated to include follow up appointments as well as any changes to the medication list noted above medquist36'

In [99]:
tqdm.pandas()
df['TEXT'] = df.progress_apply(lambda row: str(preprocess_text(row[-3])), axis=1)

100%|███████████████████████████████████████████████████████████████████████████| 52722/52722 [02:01<00:00, 432.55it/s]

In [100]:
df.head()

,SUBJECT_ID,HADM_ID,TEXT,LABELS1,LABELS2
0,3,145834,sex m medicine chief complaint admitted from r...,038.9;785.59;584.9;427.5;410.71;428.0;682.6;42...,A41.9;R57.1;N17.9;I46.9;I21.4;I50.814;L03.119;...
1,4,185777,sex f chief complaint shortness of breath and ...,042;136.3;799.4;276.3;790.7;571.5;041.11;V09.0...,B20;B59;R64;E87.3;R78.81;K74.0;B95.61;Z16.11;E...
2,6,107064,sex f admission diagnosis end stage renal dise...,403.91;444.0;997.2;276.6;276.7;285.9;275.3;V15...,I12.0;444.0;T81.719A;276.6;E87.5;D64.9;E83.30;...
3,9,150750,sex m neurology chief complaint weakness inabi...,431;507.0;428.0;584.9;276.5;401.9;96.72;96.04,I61.9;J69.0;I50.814;N17.9;276.5;I10;5A1955Z;0B...
4,10,184167,sex f history of present illness baby girl is ...,V30.00;774.2;765.25;765.15;V29.0;99.83;99.15;96.6,Z38.00;P59.0;P07.32;P07.15;Z05.1;6A600ZZ;3E033...

In [106]:
types = set()
num_tok = 0
for row in df.itertuples():
    for w in row[3].split(' '):
        types.add(w)
        num_tok += 1
print("Num types", len(types))
print("Num tokens", str(num_tok))

Num types 167603
Num tokens 82282110

In [5]:
df.to_csv('processed_notes_labeled.csv', index=False)

In [8]:
df  = pd.read_csv('processed_notes_labeled.csv')

In [19]:
len(df['SUBJECT_ID'].unique())

41126

In [9]:
len(df.index)

52722

In [20]:
!pip install sklearn

Defaulting to user installation because normal site-packages is not writeable
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.1.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (31.2 MB)
     |████████████████████████████████| 31.2 MB 224 kB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting scipy>=1.3.2
  Downloading scipy-1.9.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (33.8 MB)
     |████████████████████████████████| 33.8 MB 389 kB/s  eta 0:00:01
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->sklearn) (1.23.2)
Collecting joblib>=1.0.0
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     |████████████████████████████████| 297 kB 63.2 MB/s eta 0:00:01
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1302 sha256=13630922a52bf8a888a87f6e5f8d516fc34020a594847ca16ec015a769f20b10
  Stored in directory: /home3/191it205/.cache/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.2.0 scikit-learn-1.1.2 scipy-1.9.2 sklearn-0.0 threadpoolctl-3.1.0
WARNING: You are using pip version 20.2.4; however, version 22.2.2 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [29]:
import numpy as np
X = df.iloc[:,:2]
y = df.iloc[:,-1:]

from collections import defaultdict
from sklearn.model_selection import GroupShuffleSplit

subject_ids = list(df['SUBJECT_ID'])
# print(subject_ids)
d_dict = defaultdict(lambda: len(d_dict))
list_ids= [d_dict[n] for n in subject_ids]
# Print ids of the dictionary
# print("The list of ids : ", list_ids)

# groups = np.array([1, 1, 2, 2, 2, 3, 3, 3])
# print(groups.shape)

gss = GroupShuffleSplit(n_splits=1, train_size=.9050978607, random_state=42)
gss.get_n_splits()

for train_idx, test_idx in gss.split(X, y, list_ids):
    print("TRAIN:", train_idx, "TEST:", test_idx)
    print(len(train_idx), len(test_idx))

TRAIN: [    0     2     3 ... 52719 52720 52721] TEST: [    1     4     7 ... 52701 52710 52716]
47762 4960

### Top 50 codes

In [76]:
#first calculate the top k
counts = Counter()
dfnl = pd.read_csv('notes_labeled.csv')
for row in dfnl.itertuples():
    for label in str(row[5]).split(';'):
        counts[label] += 1

In [77]:
codes_50 = sorted(counts.items(), key=operator.itemgetter(1), reverse=True)

In [78]:
codes_50 = [code[0] for code in codes_50[:50]]

In [81]:
ICD10_50 = codes_50

In [82]:
ICD10_50

['I10',
 '02H633Z',
 'I25.10',
 'I50.814',
 'I48.91',
 '0BH17EZ',
 '0DH67UZ',
 'N17.9',
 'E11.9',
 '5A1935Z',
 'E78.4',
 'J96.00',
 '30233N1',
 '5A1221Z',
 'N39.0',
 'B2000ZZ',
 'K21.9',
 '5A1955Z',
 'E78.00',
 'D64.9',
 'J44.9',
 'A41.9',
 'E03.9',
 'J18.9',
 '02HW32Z',
 'D62',
 '0210088',
 'E87.2',
 '3E0336Z',
 'R65.20',
 'Z79.01',
 'J69.0',
 'B244YZZ',
 'I12.9',
 'F32.9',
 'N18.9',
 'F17.200',
 'I21.4',
 '4A020N7',
 'I25.2',
 '0B933ZX',
 '5A1D70Z',
 '0DJ08ZZ',
 'D69.6',
 'E87.1',
 'Z95.1',
 'I34.0',
 '0BJ08ZZ',
 'I12.0',
 'Z87.891']

In [75]:
ICD9_50 = codes_50

In [83]:
ICD9_50

['401.9',
 '38.93',
 '428.0',
 '427.31',
 '414.01',
 '96.04',
 '96.6',
 '584.9',
 '250.00',
 '96.71',
 '272.4',
 '518.81',
 '99.04',
 '39.61',
 '599.0',
 '530.81',
 '96.72',
 '272.0',
 '285.9',
 '88.56',
 '244.9',
 '486',
 '38.91',
 '285.1',
 '36.15',
 '276.2',
 '496',
 '99.15',
 '995.92',
 'V58.61',
 '507.0',
 '038.9',
 '88.72',
 '585.9',
 '403.90',
 '311',
 '305.1',
 '37.22',
 '412',
 '33.24',
 '39.95',
 '287.5',
 '410.71',
 '276.1',
 'V45.81',
 '424.0',
 '45.13',
 'V15.82',
 '511.9',
 '37.23']