In [1]:
import numpy as np
import pandas as pd
from collections import Counter, defaultdict
import csv
import math
import operator
import requests
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm
import re
import os
import json
import asyncio
import requests
import aiohttp
from nltk.tokenize import RegexpTokenizer
tqdm.pandas()

### Full

In [3]:
data_path = '../data/'

In [23]:
dfproc = pd.read_csv(data_path + 'PROCEDURES_ICD.csv')
dfdiag = pd.read_csv(data_path + 'DIAGNOSES_ICD.csv')

In [24]:
dfproc.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
0     944       62641   154460        3       3404
1     945        2592   130856        1       9671
2     946        2592   130856        2       3893
3     947       55357   119355        1       9672
4     948       55357   119355        2        331

In [25]:
dfdiag.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0     40301
1    1298         109   172335      2.0       486
2    1299         109   172335      3.0     58281
3    1300         109   172335      4.0      5855
4    1301         109   172335      5.0      4254

Put a period in the right place because the MIMIC-3 data files exclude them.Generally, procedure codes have dots after the first two digits, while diagnosis codes have dots after the first three digits.

In [19]:
def reformat(code, is_diag):
    code = ''.join(code.split('.'))
    if is_diag:
        if code.startswith('E'):
            if len(code) > 4:
                code = code[:4] + '.' + code[4:]
        else:
            if len(code) > 3:
                code = code[:3] + '.' + code[3:]
    else:
        code = code[:2] + '.' + code[2:]
    return code

In [28]:
dfdiag['ICD9_CODE'] = dfdiag.apply(lambda row: str(reformat(str(row[4]), True)), axis=1)
dfproc['ICD9_CODE'] = dfproc.apply(lambda row: str(reformat(str(row[4]), False)), axis=1)

In [29]:
dfcodes = pd.concat([dfdiag, dfproc])
dfcodes.to_csv(data_path + 'ALL_CODES.csv', index=False,
               columns=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE'],
               header=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE'])

In [30]:
dfcodes.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0    403.01
1    1298         109   172335      2.0       486
2    1299         109   172335      3.0    582.81
3    1300         109   172335      4.0     585.5
4    1301         109   172335      5.0     425.4

In [31]:
df = pd.read_csv(data_path + 'ALL_CODES.csv',dtype={"ICD9_CODE": str})
len(df['ICD9_CODE'].unique())

8994

In [11]:
#df = df[df['ICD9_CODE'].notna()]

### MAP

In [32]:
icd9codes = df['ICD9_CODE'].unique()
len(icd9codes)

8994

In [13]:
# mapping = {} 
# async def main():
#     count = 0
#     tasks = []
#     headers = {
#         "user-agent": "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"}
#     async with aiohttp.ClientSession(headers=headers) as session:
#         for i in tqdm(range(len(icd9codes))):
#             icd_9 = icd9codes[i]
#             url = f'https://www.icd10data.com/Convert/{icd_9}'
#             async with session.get(url) as response:
#                 text = await response.text()
#                 tasks.append(text)
#         for i in tqdm(range(len(tasks))):
#             icd_9 = icd9codes[i]
#             url = f'https://www.icd10data.com/Convert/{icd_9}'
#             task = tasks[i]
#             soup = BeautifulSoup(task, 'html.parser')
#             icd_10 = soup.find_all("span", {"class": "identifier"})
#             if len(icd_10) == 0:
#                 # print("ERROR: No ICD10 code found for code: ",icd_9)
#                 print(url,end=" ")
#                 print(icd_10)
#                 icd_10 = icd_9
#             elif len(icd_10) == 1:
#                 icd_10 = str(icd_10[0]).split('>')[1].split('<')[0]
#             else:
#                 icd_10 = str(icd_10[1]).split('>')[1].split('<')[0]
#             mapping[icd_9] = icd_10
#     print(count)

# await main()

In [14]:
# with open('icd9to10mapping.json', 'w') as f:
#     json.dump(mapping, f)

In [4]:
f = open(data_path + 'icd9to10mapping.json','r')
mapping = json.load(f)

In [34]:
len(mapping.keys())

8994

In [38]:
def icd9to10(icd_9):
    if icd_9 not in mapping.keys():
        return icd_9
    return mapping[icd_9]
df['ICD10_CODE'] = df.apply(lambda row: icd9to10(row[4]), axis=1)

In [39]:
df.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE ICD10_CODE
0    1297         109   172335      1.0    403.01      I12.0
1    1298         109   172335      2.0       486      J18.9
2    1299         109   172335      3.0    582.81        N08
3    1300         109   172335      4.0     585.5      N18.5
4    1301         109   172335      5.0     425.4      I42.5

In [40]:
len(df['ICD9_CODE'].unique())

8994

In [41]:
df.to_csv(data_path + 'ALL_MAPPED_CODES.csv', index=False,
               columns=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE','ICD10_CODE'],
               header=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE','ICD10_CODE'])

In [42]:
df = pd.read_csv(data_path + 'ALL_MAPPED_CODES.csv',dtype={"ICD9_CODE": str})
len(df['ICD9_CODE'].unique())

8994

### Get Discharge Summary

In [43]:
noteeventsdf = pd.read_csv(data_path + 'NOTEEVENTS.csv')

/var/tmp/pbs.14173.master/ipykernel_3259279/772925661.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  noteeventsdf = pd.read_csv(data_path + 'NOTEEVENTS.csv')

In [44]:
noteeventsdf.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [45]:
len(noteeventsdf.index)

2083180

In [46]:
dich_full = noteeventsdf[noteeventsdf['CATEGORY']=='Discharge summary']

In [47]:
len(dich_full.index)

59652

In [48]:
len(dich_full['HADM_ID'].unique())

52726

In [49]:
# dich_full = dich_full[dich_full['HADM_ID'].notna()]

In [50]:
dich_full = dich_full.sort_values(['SUBJECT_ID', 'HADM_ID'])

In [51]:
dich_full.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
48470,44005,3,145834.0,2101-10-31,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2101-10-20**] Discharg...
4782,4788,4,185777.0,2191-03-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-3-16**] Discharge...
24476,20825,6,107064.0,2175-06-15,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2175-5-30**] Dischar...
22764,20070,9,150750.0,2149-11-13,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2149-11-9**] Dischar...
57341,57115,9,150750.0,2149-11-14,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 10050**], [**Known fi..."

In [52]:
dich_full.to_csv(data_path + 'disch_full.csv', index=False)

In [53]:
del noteeventsdf

In [54]:
dich_full = pd.read_csv(data_path + 'disch_full.csv')
dich_full.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,44005,3,145834.0,2101-10-31,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2101-10-20**] Discharg...
1,4788,4,185777.0,2191-03-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-3-16**] Discharge...
2,20825,6,107064.0,2175-06-15,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2175-5-30**] Dischar...
3,20070,9,150750.0,2149-11-13,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2149-11-9**] Dischar...
4,57115,9,150750.0,2149-11-14,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 10050**], [**Known fi..."

### Sort

In [55]:
labeldf = pd.read_csv(data_path + 'ALL_MAPPED_CODES.csv',dtype={"ICD9_CODE": str})

In [56]:
labeldf = labeldf.drop(['ROW_ID'],axis=1)
labeldf = labeldf.sort_values(['SUBJECT_ID', 'HADM_ID'])
labeldf.head()

        SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE ICD10_CODE
608              2   163353      1.0    V30.01     Z38.01
609              2   163353      2.0     V05.3        Z23
610              2   163353      3.0     V29.0      Z05.1
746132           2   163353      1.0     99.55    3E0134Z
611              3   145834      1.0     038.9      A41.9

In [57]:
labeldf.to_csv(data_path + 'ALL_MAPPED_CODES.csv', index=False)

### Filter

In [58]:
labeldf = pd.read_csv(data_path + 'ALL_MAPPED_CODES.csv',dtype={"ICD9_CODE": str})
labeldf.head()

   SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE ICD10_CODE
0           2   163353      1.0    V30.01     Z38.01
1           2   163353      2.0     V05.3        Z23
2           2   163353      3.0     V29.0      Z05.1
3           2   163353      1.0     99.55    3E0134Z
4           3   145834      1.0     038.9      A41.9

In [59]:
len(dich_full['HADM_ID'].unique()), len(labeldf['HADM_ID'].unique())

(52726, 58976)

In [60]:
admission_ids = list(dich_full['HADM_ID'].unique()) 
labeldf = labeldf.loc[labeldf['HADM_ID'].isin(admission_ids)]

In [61]:
labeldf = labeldf[labeldf['ICD9_CODE'].notna()]

In [62]:
labeldf.to_csv(data_path + 'ALL_CODES_filtered.csv', index=False)

In [63]:
labeldf = pd.read_csv(data_path + 'ALL_CODES_filtered.csv',dtype={"ICD9_CODE": str})
len(labeldf['HADM_ID'].unique())

52722

In [64]:
labeldf.head()

   SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE ICD10_CODE
0           3   145834      1.0     038.9      A41.9
1           3   145834      2.0    785.59      R57.1
2           3   145834      3.0     584.9      N17.9
3           3   145834      4.0     427.5      I46.9
4           3   145834      5.0    410.71      I21.4

In [65]:
dich_full = pd.read_csv(data_path + 'disch_full.csv')
admission_ids = list(labeldf['HADM_ID'].unique()) 
dich_full = dich_full.loc[dich_full['HADM_ID'].isin(admission_ids)]

In [66]:
dich_full.to_csv(data_path + 'disch_full.csv', index=False)

In [67]:
dich_full = pd.read_csv(data_path + 'disch_full.csv')
len(dich_full['HADM_ID'].unique())

52722

### concatenate

In [68]:
labeldf = pd.read_csv(data_path + 'ALL_CODES_filtered.csv',dtype={"ICD9_CODE": str})

In [69]:
labeldf=labeldf.groupby(['SUBJECT_ID','HADM_ID']).aggregate([('ICD9_CODE',';'.join)],[('ICD10_CODE',';'.join)])

/var/tmp/pbs.14173.master/ipykernel_3259279/2348149100.py:1: FutureWarning: ['SEQ_NUM'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  labeldf=labeldf.groupby(['SUBJECT_ID','HADM_ID']).aggregate([('ICD9_CODE',';'.join)],[('ICD10_CODE',';'.join)])

In [70]:
labeldf = labeldf.droplevel(axis=1, level=1).reset_index()

In [71]:
labeldf.head()

,SUBJECT_ID,HADM_ID,ICD9_CODE,ICD10_CODE
0,3,145834,038.9;785.59;584.9;427.5;410.71;428.0;682.6;42...,A41.9;R57.1;N17.9;I46.9;I21.4;I50.814;L03.119;...
1,4,185777,042;136.3;799.4;276.3;790.7;571.5;041.11;V09.0...,B20;B59;R64;E87.3;R78.81;K74.0;B95.61;Z16.11;E...
2,6,107064,403.91;444.0;997.2;276.6;276.7;285.9;275.3;V15...,I12.0;444.0;T81.719A;276.6;E87.5;D64.9;E83.30;...
3,9,150750,431;507.0;428.0;584.9;276.5;401.9;96.72;96.04,I61.9;J69.0;I50.814;N17.9;276.5;I10;5A1955Z;0B...
4,10,184167,V30.00;774.2;765.25;765.15;V29.0;99.83;99.15;96.6,Z38.00;P59.0;P07.32;P07.15;Z05.1;6A600ZZ;3E033...

In [72]:
dich_full = pd.read_csv(data_path + 'disch_full.csv')

In [73]:
dich_full=dich_full.groupby(['SUBJECT_ID','HADM_ID']).aggregate([('TEXT',' '.join)])

/var/tmp/pbs.14173.master/ipykernel_3259279/1083673685.py:1: FutureWarning: ['ROW_ID', 'CHARTTIME', 'STORETIME', 'CGID', 'ISERROR'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  dich_full=dich_full.groupby(['SUBJECT_ID','HADM_ID']).aggregate([('TEXT',' '.join)])

In [74]:
dich_full = dich_full.droplevel(axis=1, level=1).reset_index()
dich_full = dich_full.drop(['CHARTDATE','CATEGORY','DESCRIPTION'],axis=1)

In [75]:
dich_full.head()

   SUBJECT_ID   HADM_ID                                               TEXT
0           3  145834.0  Admission Date:  [**2101-10-20**]     Discharg...
1           4  185777.0  Admission Date:  [**2191-3-16**]     Discharge...
2           6  107064.0  Admission Date: [**2175-5-30**]        Dischar...
3           9  150750.0  Admission Date:  [**2149-11-9**]       Dischar...
4          10  184167.0  Admission Date:  [**2103-6-28**]       Dischar...

In [76]:
notes_labeled_full = pd.merge(labeldf,dich_full,on=['HADM_ID','SUBJECT_ID'],how='inner')

In [77]:
notes_labeled_full = notes_labeled_full.loc[:,['SUBJECT_ID','HADM_ID','TEXT','ICD9_CODE','ICD10_CODE']]

In [78]:
notes_labeled_full.head()

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE,ICD10_CODE
0,3,145834,Admission Date: [**2101-10-20**] Discharg...,038.9;785.59;584.9;427.5;410.71;428.0;682.6;42...,A41.9;R57.1;N17.9;I46.9;I21.4;I50.814;L03.119;...
1,4,185777,Admission Date: [**2191-3-16**] Discharge...,042;136.3;799.4;276.3;790.7;571.5;041.11;V09.0...,B20;B59;R64;E87.3;R78.81;K74.0;B95.61;Z16.11;E...
2,6,107064,Admission Date: [**2175-5-30**] Dischar...,403.91;444.0;997.2;276.6;276.7;285.9;275.3;V15...,I12.0;444.0;T81.719A;276.6;E87.5;D64.9;E83.30;...
3,9,150750,Admission Date: [**2149-11-9**] Dischar...,431;507.0;428.0;584.9;276.5;401.9;96.72;96.04,I61.9;J69.0;I50.814;N17.9;276.5;I10;5A1955Z;0B...
4,10,184167,Admission Date: [**2103-6-28**] Dischar...,V30.00;774.2;765.25;765.15;V29.0;99.83;99.15;96.6,Z38.00;P59.0;P07.32;P07.15;Z05.1;6A600ZZ;3E033...

In [79]:
notes_labeled_full.to_csv(data_path + 'notes_labeled.csv', index=False)

In [80]:
del dich_full
del notes_labeled_full

### Preprocess Text

In [81]:
df  = pd.read_csv(data_path + 'notes_labeled.csv')

In [82]:
df.head()

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE,ICD10_CODE
0,3,145834,Admission Date: [**2101-10-20**] Discharg...,038.9;785.59;584.9;427.5;410.71;428.0;682.6;42...,A41.9;R57.1;N17.9;I46.9;I21.4;I50.814;L03.119;...
1,4,185777,Admission Date: [**2191-3-16**] Discharge...,042;136.3;799.4;276.3;790.7;571.5;041.11;V09.0...,B20;B59;R64;E87.3;R78.81;K74.0;B95.61;Z16.11;E...
2,6,107064,Admission Date: [**2175-5-30**] Dischar...,403.91;444.0;997.2;276.6;276.7;285.9;275.3;V15...,I12.0;444.0;T81.719A;276.6;E87.5;D64.9;E83.30;...
3,9,150750,Admission Date: [**2149-11-9**] Dischar...,431;507.0;428.0;584.9;276.5;401.9;96.72;96.04,I61.9;J69.0;I50.814;N17.9;276.5;I10;5A1955Z;0B...
4,10,184167,Admission Date: [**2103-6-28**] Dischar...,V30.00;774.2;765.25;765.15;V29.0;99.83;99.15;96.6,Z38.00;P59.0;P07.32;P07.15;Z05.1;6A600ZZ;3E033...

In [83]:
df.iloc[0,2]

"Admission Date:  [**2101-10-20**]     Discharge Date:  [**2101-10-31**]\n\nDate of Birth:   [**2025-4-11**]     Sex:  M\n\nService:  Medicine\n\nCHIEF COMPLAINT:  Admitted from rehabilitation for\nhypotension (systolic blood pressure to the 70s) and\ndecreased urine output.\n\nHISTORY OF PRESENT ILLNESS:  The patient is a 76-year-old\nmale who had been hospitalized at the [**Hospital1 190**] from [**10-11**] through [**10-19**] of [**2101**]\nafter undergoing a left femoral-AT bypass graft and was\nsubsequently discharged to a rehabilitation facility.\n\nOn [**2101-10-20**], he presented again to the [**Hospital1 346**] after being found to have a systolic\nblood pressure in the 70s and no urine output for 17 hours.\nA Foley catheter placed at the rehabilitation facility\nyielded 100 cc of murky/brown urine.  There may also have\nbeen purulent discharge at the penile meatus at this time.\n\nOn presentation to the Emergency Department, the patient was\nwithout subjective complaints.  In the Emergency Department,\nhe was found to have systolic blood pressure of 85.  He was\ngiven 6 liters of intravenous fluids and transiently started\non dopamine for a systolic blood pressure in the 80.s\n\nPAST MEDICAL HISTORY:\n 1.  Coronary artery disease with diffuse 3-vessel disease;\nright-dominant, status post proximal left circumflex stent in\n[**2101-7-9**] with occlusion of the distal left circumflex;\nstatus post right coronary artery stent on [**2101-8-26**] (no\npercutaneous coronary intervention to 99% diagonal left\ncircumflex, 80% small proximal left anterior descending\nartery, or 80% small distal left anterior descending artery).\n 2.  Congestive heart failure (with an ejection fraction\nof 15% to 20%).\n 3.  Type 2 diabetes with neuropathy.\n 4.  Hypertension.\n 5.  Diverticulosis (found on colonoscopy in [**2101-7-9**]).\n 6.  Alzheimer's dementia.\n 7.  History of gastrointestinal bleed (while the patient was\ntaking eptifibatide).\n 8.  Cardiac risk factors (with a baseline creatinine\nof 1.4 to 1.6).\n 9.  Hypercholesterolemia.\n10.  History of methicillin-resistant Staphylococcus aureus\nand Pseudomonas growth in wound cultures.\n11.  Severe peripheral vascular disease; status post left\nfemoral-AT bypass graft on [**2101-10-11**].\n12.  Chronic nonhealing foot ulcers.\n13.  Recent right pedal cellulitis.\n\nALLERGIES:  The patient has no known drug allergies.\n\nMEDICATIONS ON ADMISSION:\n 1.  Vancomycin 1 g intravenously q.24h. for a level of less\nthan 15 (started on [**2101-10-4**]).\n 2.  Levofloxacin 250 mg p.o. q.d. (started on [**2101-10-4**]).\n 3.  Metronidazole 500 mg p.o. q.8h. (started on [**2101-10-4**]).\n 4.  Heparin 5000 units subcutaneous b.i.d.\n 5.  Simvastatin 40 mg p.o. q.d.\n 6.  Lisinopril 5 mg p.o. q.d.\n 7.  Furosemide 40 mg p.o. q.d.\n 8.  Vitamin E 400 IU p.o. q.d.\n 9.  Atenolol 25 mg p.o. q.d.\n10.  Pantoprazole 40 mg p.o. q.d.\n11.  Ascorbic acid 500 mg p.o. b.i.d.\n12.  NPH 17 units b.i.d.\n13.  Regular insulin sliding-scale.\n14.  Bisacodyl 10 mg p.o./p.r. as needed.\n15.  Docusate 100 mg p.o. b.i.d.\n16.  Percocet 5/325 mg one tablet p.o. q.4-6h. as needed for\npain.\n17.  Aspirin 81 mg p.o. q.d.\n18.  Metoprolol 75 mg p.o. b.i.d.\n\nSOCIAL HISTORY:  The patient is retired and had been living\nat home with his wife prior to his admission to the hospital\non [**2101-10-11**]; he had been living at [**Hospital3 1761**] for the day prior to admission.  He is a\nsocial drinker and has a 40-pack-year smoking history;\nalthough, he quit smoking 20 years ago.\n\nPHYSICAL EXAMINATION ON PRESENTATION:   Initial physical\nexamination revealed temperature was 96.1 degrees Fahrenheit,\nheart rate was 83, blood pressure was 124/42 (following\nadministration of 3 liters of normal saline), respiratory\nwas 24, and his oxygen saturation was 100% on 2 liters nasal\ncannula.  His heart had a regular rate and rhythm.  There\nwere normal first and second heart sounds.  There was a 2/6\nsystolic ejection murmur, and there were no rubs or gallops.\nHis lungs were clear to auscultation bilaterally.  His\nabdomen was soft, nontender, and nondistended, and there were\nhypoactive bowel sounds.  He had a palpable bypass graft\npulse, [**Hospital3 17394**] dorsalis pedis and posterior tibialis\npulses bilaterally; and his surgical incision was clean, dry,\nand intact.  Please note that the above examination was done\nby the Vascular Surgery team, which was the team that was\ninitially planning to admit the patient to the hospital.\n\nPERTINENT LABORATORY DATA ON PRESENTATION:  On initial\nlaboratory evaluation the patient had a white blood cell\ncount of 12.7, hematocrit was 30.2, and platelets\nwere 282,000.  His PT was 13.5, PTT was 30.7, and INR\nwas 1.3.  His serum chemistries revealed sodium was 136,\npotassium was 5.4, chloride was 99, bicarbonate was 25, blood\nurea nitrogen was 53, creatinine was 3.2, and blood glucose\nwas 91.  His calcium was 8.2, magnesium was 2.4, and\nphosphate was 4.8.  Blood cultures drawn on admission were\npending, but ultimately negative.  A urine culture taken on\nadmission was initially pending, but ultimately grew out\nyeast.  A sputum culture taken on admission was also\ninitially pending, but ultimately also grew out yeast.\n\nRADIOLOGY/IMAGING:  His admission chest x-ray demonstrated\nstable prominence of the right main pulmonary artery; no\nfocal areas of consolidation; overall stable appearance of\nthe chest compared with a [**2101-10-15**] study.  No\nradiographic evidence of congestive heart failure or\npneumonia.\n\nHis admission electrocardiogram demonstrated a sinus rhythm,\nnonspecific inferior/lateral T wave changes, low QRS voltages\nin the limb leads, and T wave changes in V5 and V6 when\ncompared with an electrocardiogram dated [**2101-10-12**].\n\nAn initial abdominal CT was a limited noncontrast examination\nthat demonstrated diffuse vascular calcifications.  No\nevidence of an abdominal aortic aneurysm or free fluid,\nincompletely imaged coronary artery calcification, a simple\nleft renal cyst, sigmoid diverticulosis, and an enlarged and\npartially calcified prostate gland.\n\nHOSPITAL COURSE BY SYSTEM:\n\n1.  CARDIOVASCULAR:  The patient was initially admitted to\nthe Vascular Intensive Care Unit with hypotension, decreased\nurine output, and acute renal failure; most likely secondary\nto a presumed gram-negative urosepsis (although there were\nnever any positive culture data to confirm this diagnosis).\n\nWhile boarding in the Medical Intensive Care Unit on the\nnight of admission, the patient had a sudden\ncardiorespiratory arrest.  He was resuscitated with\nepinephrine, lidocaine, and direct current cardioversion\ntimes four.  He was also intubate for airway protection.\n\nFollowing these measures, the patient returned to a sinus\nrhythm with a systolic blood pressure of approximately 100;\nthe total time elapsed from the beginning of the arrest to\nthe return of a pulse was approximately 16 minutes.  He\nsubsequently required double pressors to maintain his blood\npressure.\n\nAn echocardiogram performed at the bedside demonstrated a\ntrivial pericardial effusion and a left ventricular ejection\nfraction of 20% to 25% in the setting of tachycardia and a\nhyperdynamic right ventricle; suggesting elevated right-sided\nfilling pressures.  Although the definitive etiology of this\narrest remained unknown, the most likely trigger was a\nnon-Q-wave myocardial infarction, as his troponin values were\nelevated to greater than 50 following his arrest.\n\nA repeat echocardiogram done on [**2101-10-21**]\ndemonstrated mild left atrial dilation, an ejection fraction\nof 15% to 20%, resting regional wall motion abnormalities\nincluding inferior, mid, and apical left ventricular\nakinesis, depressed right ventricular systolic function, and\nmoderate mitral regurgitation.  Compared with the prior study\nof [**2101-10-20**]; the left ventricular function was\nunchanged.  There was moderate mitral regurgitation, and the\nright ventricular function appeared worse.\n\nOn [**2101-10-21**], the patient was loaded with amiodarone\nand was subsequently started on oral amiodarone.  The\nfollowing day, he was started on heparin intravenously given\nhis elevated serum troponin to greater than 50; this\nmedication was continued for 72 hours.  Given his elevated\ntroponins and non-Q-wave myocardial infarction, the patient\nwas a candidate for cardiac catheterization.\n\nAfter discussions between the Medical Intensive Care Unit\nteam and the patient's family, however, the decision was made\nto not pursue further invasive procedures given that the\npatient had been made do not resuscitate/do not intubate\nfollowing the resuscitation mentioned above, and his family\nno longer wished for aggressive resuscitating measures.\n\nBy [**2101-10-23**], he was off pressors and he was\nrestarted on a beta blocker and ACE inhibitor at low doses.\n\nOn the evening of [**2101-10-25**], the patient complained\nof substernal chest pain that was relieved by NPG SL and\nmorphine.  He also had ST segment depressions in V2 and V3\nthat reverted to baseline after the resolution of his pain.\nTherefore, the patient was again started on heparin;\nalthough, this was discontinued on [**2101-10-26**] when\nthe patient ruled out for a myocardial infarction by cardiac\nenzymes.  He again had substernal chest pain on [**2101-10-27**]; although, he had no electrocardiogram changes, and he\nagain ruled out for a myocardial infarction by cardiac\nenzymes.\n\nBy hospital day four, the patient began to develop evidence\nof congestive heart failure given his aggressive fluid\nresuscitation, and gentle diuresis with furosemide was begun.\nBy the time of his transfer to the General Medicine Service\non [**2101-10-26**], the patient was still significantly\nvolume overloaded following his aggressive fluid\nresuscitation in the Medical Intensive Care Unit.  Therefore,\nhe was continued on the program of gentle diuresis given that\nhe was having signs and symptoms of right-sided congestive\nheart failure.  He achieved adequate diuresis by the time of\nhis discharge to rehabilitation, as his oxygen saturation was\ngreater than 95% on 2 liters nasal cannula.\n\n2.  INFECTIOUS DISEASE/SEPSIS:  The patient was started on\ngentamicin and piperacillin/tazobactam in addition to the\nlevofloxacin, metronidazole, and vancomycin he was already\ntaking for right lower extremity cellulitis prior to\nadmission for empiric coverage of a presumed gram-negative\nurosepsis, and he was aggressively hydrated with intravenous\nfluids.\n\nOn [**2101-10-21**], his levofloxacin and metronidazole was\ndiscontinued, and he was started on fluconazole given the\ngrowth of yeast on urine culture.  He was taken off of\ngentamicin on hospital day three, and his fluconazole was\ndiscontinued on hospital day five (as per the Infectious\nDisease Service).  He was taken off of vancomycin on\n[**2101-10-28**], and his piperacillin/tazobactam was\ndiscontinued on [**2101-10-29**].\n\nDespite the presumption of a gram-negative urosepsis\nprecipitating this admission, the patient did not have any\npositive blood or urine cultures aside from the growth of\nyeast in two urine cultures noted above.  He remained\nafebrile both before and after discontinuation of his\nantibiotics, and he was found to be Clostridium difficile\nnegative on [**2101-10-28**].\n\n3.  PULMONARY:  As noted above, the patient was intubated and\nhe was extubated on [**2101-10-24**].  He subsequently\ndeveloped wheezing and mild hypoxia; most likely secondary to\ncardiac asthma and fluid overload in the setting of his\naggressive fluid resuscitation.  He was gently diuresed\ntoward the end of his hospitalization, and by the time of his\nhe was maintaining an oxygen saturation of greater than 95%\non 2 liters nasal cannula, intermittent ipratropium\nnebulizers, and chest physical therapy for clearance of his\nrespiratory secretions.\n\n4.  RENAL:  The patient presented with acute renal failure\nand prerenal azotemia that rapidly resolved following fluid\nresuscitation.  By the time of discharge, his serum\ncreatinine was stable and at his preadmission baseline.\n\n5.  NUTRITION:  The patient was found to be profoundly\nmalnourished with a serum albumin of 1.8 on admission.  Once\nhe was extubated and taking orals, he performed poorly on a\nmodified barium swallowing study and was started on a thin\nliquid, ground-solid diet with whole medication tablets,\nsmall bites and sips, upright posture with meals, and\naspiration precautions.  He was also given ProMod shakes with\nand between meals for nutritional supplementation of his\nheart-healthy/diabetic diet.\n\n6.  VASCULAR:  The patient's operative incisions and foot\nulcers continued to heal throughout this admission.  He was\nstarted on an multivitamin, vitamin C, and zinc for improved\nwound healing.\n\n7.  HEMATOLOGY:  The patient was transfused one unit of\npacked red blood cells on [**2101-10-27**] to maintain a\nhematocrit of greater than 30 given his history of severe\ncoronary artery disease.  His hematocrit subsequently\nremained stable.\n\nCONDITION AT DISCHARGE:  Condition on discharge was stable.\n\nDISCHARGE STATUS:  [**First Name4 (NamePattern1) 1188**] [**Last Name (NamePattern1) **] rehabilitation facility.\n\nDISCHARGE DIAGNOSES:\n 1.  Cardiorespiratory arrest.\n 2.  Non-Q-wave myocardial infarction.\n 3.  Acute renal failure.\n 4.  Coronary artery disease with diffuse 3-vessel disease;\nright-dominant, status post proximal left circumflex stent in\n[**2101-7-9**] with occlusion of distal left circumflex; status\npost right coronary artery stent on [**2101-10-27**] (no\npercutaneous coronary intervention to 99%, distal left\ncircumflex, 80% small proximal left anterior descending\nartery, 80% small distal left anterior descending artery).\n 5.  Congestive heart failure (with an ejection fraction\nof 15% to 20%).\n 6.  Type 2 diabetes with neuropathy.\n 7.  Hypertension.\n 8.  Diverticulosis (found on colonoscopy in [**2101-7-9**]).\n 9.  Alzheimer's dementia.\n10.  History of gastrointestinal bleed (while the patient was\ntaking eptifibatide).\n11.  Cardiac risk factors (with a baseline creatinine\nof 1.4 to 1.6).\n12.  History of methicillin-resistant Staphylococcus aureus\nand Pseudomonas growth in wound cultures.\n13.  Severe peripheral vascular disease; status post left\nfemoral-AT bypass graft on [**2101-10-11**].\n14.  Chronic nonhealing foot ulcers.\n\nMEDICATIONS ON DISCHARGE:\n 1.  Amiodarone 400 mg p.o. b.i.d. (through [**2101-11-2**]), then 400 mg p.o. q.d. (times one week), then 200 mg\np.o. q.d.\n 2.  Metoprolol 50 mg p.o. b.i.d.\n 3.  Captopril 6.25 mg p.o. t.i.d.\n 4.  Aspirin 325 mg p.o. q.d.\n 5.  Pantoprazole 40 mg p.o. q.d.\n 6.  Heparin 5000 units subcutaneously b.i.d.\n 7.  Multivitamin one tablet p.o. q.d.\n 8.  Zinc sulfate 220 mg p.o. q.d.\n 9.  Vitamin C 500 mg p.o. q.d.\n10.  Ipratropium nebulizers q.4-6h. as needed (for wheezing).\n11.  Acetaminophen 325 mg to 650 mg p.o. q.4-6h. as needed\n(for pain).\n12.  Miconazole 2% powder to groin b.i.d.\n13.  Santyl lotion to heels b.i.d.\n14.  Regular insulin sliding-scale.\n\nCODE STATUS:  Do not resuscitate/do not intubate.\n\nNOTE:  If applicable, an addendum to this Discharge Summary\nwill be dictated to include follow-up appointments as well as\nany changes to the medication list noted above.\n\n\n\n\n\n\n                          [**First Name11 (Name Pattern1) **] [**Last Name (NamePattern4) 1604**], M.D.  [**MD Number(1) 1605**]\n\nDictated By:[**Name8 (MD) 2507**]\n\nMEDQUIST36\n\nD:  [**2101-10-31**]  01:07\nT:  [**2101-11-5**]  03:44\nJOB#:  [**Job Number **]\n"

In [87]:
import nltk
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

In [88]:
tokenizer = RegexpTokenizer(r'\w+')
def preprocess_text(discharge_summary):
#     ds = discharge_summary
#     ds = re.sub('\[.*\]', '', ds)
#     ds = ds.replace('\n',' ')
#     ds = ds.replace('\r',' ')
#     terms = ['Admission Date:','Discharge Date:','Date of Birth:','Service:','ADDENDUM:','Date/Time:','Completed by:','Dictated By:',' D:',' T:','JOB#:','Followup Instructions:','Follow up w/ Dr.', 'Provider:']
#     for term in terms:
#         ds = re.sub(term,'',ds)
#     ds = re.sub('\d+:\d+','',ds)
#     ds = re.sub(' +',' ',ds)
#     ds = re.sub('\.','',ds)
#     ds = ds.strip()
#     tokens = [t.lower() for t in tokenizer.tokenize(ds)]
#     ds = ' '.join(tokens)
#     return ds

    ds = discharge_summary
    ds = re.sub('\[.*\]', '', ds)
    ds = ds.replace('\n',' ')
    ds = ds.replace('\r',' ')
#     terms = ['Admission Date:','Discharge Date:','Date of Birth:','Service:','ADDENDUM:','Date/Time:','Completed by:','Dictated By:',' D:',' T:','JOB#:','Followup Instructions:','Follow up w/ Dr.', 'Provider:']
#     for term in terms:
#         ds = re.sub(term,'',ds)
    ds = re.sub('\d+:\d+','',ds)
    ds = re.sub('\d+','',ds)
    ds = re.sub(' +',' ',ds)
    ds = re.sub('\.','',ds)
    ds = ds.strip()
    tokens = [t.lower() for t in tokenizer.tokenize(ds)]
    tokens = [w for w in tokens if not w in stop_words]
    ds = ' '.join(tokens)   
    return ds
preprocess_text(df.iloc[0,2])

'admission date date birth sex service medicine chief complaint admitted rehabilitation hypotension systolic blood pressure decreased urine output history present illness patient year old male hospitalized undergoing left femoral bypass graft subsequently discharged rehabilitation facility found systolic blood pressure urine output hours foley catheter placed rehabilitation facility yielded cc murky brown urine may also purulent discharge penile meatus time presentation emergency department patient without subjective complaints emergency department found systolic blood pressure given liters intravenous fluids transiently started dopamine systolic blood pressure past medical history coronary artery disease diffuse vessel disease right dominant status post proximal left circumflex stent occlusion distal left circumflex status post right coronary artery stent percutaneous coronary intervention diagonal left circumflex small proximal left anterior descending artery small distal left anterior descending artery congestive heart failure ejection fraction type diabetes neuropathy hypertension diverticulosis found colonoscopy alzheimer dementia history gastrointestinal bleed patient taking eptifibatide cardiac risk factors baseline creatinine hypercholesterolemia history methicillin resistant staphylococcus aureus pseudomonas growth wound cultures severe peripheral vascular disease status post left femoral bypass graft chronic nonhealing foot ulcers recent right pedal cellulitis allergies patient known drug allergies medications admission vancomycin g intravenously qh level less started levofloxacin mg po qd started metronidazole mg po qh started heparin units subcutaneous bid simvastatin mg po qd lisinopril mg po qd furosemide mg po qd vitamin e iu po qd atenolol mg po qd pantoprazole mg po qd ascorbic acid mg po bid nph units bid regular insulin sliding scale bisacodyl mg po pr needed docusate mg po bid percocet mg one tablet po q h needed pain aspirin mg po qd metoprolol mg po bid social history patient retired living home wife prior admission hospital day prior admission social drinker pack year smoking history although quit smoking years ago physical examination presentation initial physical examination revealed temperature degrees fahrenheit heart rate blood pressure following administration liters normal saline respiratory oxygen saturation liters nasal cannula heart regular rate rhythm normal first second heart sounds systolic ejection murmur rubs gallops lungs clear auscultation bilaterally abdomen soft nontender nondistended hypoactive bowel sounds palpable bypass graft pulse dorsalis pedis posterior tibialis pulses bilaterally surgical incision clean dry intact please note examination done vascular surgery team team initially planning admit patient hospital pertinent laboratory data presentation initial laboratory evaluation patient white blood cell count hematocrit platelets pt ptt inr serum chemistries revealed sodium potassium chloride bicarbonate blood urea nitrogen creatinine blood glucose calcium magnesium phosphate blood cultures drawn admission pending ultimately negative urine culture taken admission initially pending ultimately grew yeast sputum culture taken admission also initially pending ultimately also grew yeast radiology imaging admission chest x ray demonstrated stable prominence right main pulmonary artery focal areas consolidation overall stable appearance chest compared study radiographic evidence congestive heart failure pneumonia admission electrocardiogram demonstrated sinus rhythm nonspecific inferior lateral wave changes low qrs voltages limb leads wave changes v v compared electrocardiogram dated initial abdominal ct limited noncontrast examination demonstrated diffuse vascular calcifications evidence abdominal aortic aneurysm free fluid incompletely imaged coronary artery calcification simple left renal cyst sigmoid diverticulosis enlarged partially calcified prostate gland hospital course system cardiovascular patient initially admitted vascular intensive care unit hypotension decreased urine output acute renal failure likely secondary presumed gram negative urosepsis although never positive culture data confirm diagnosis boarding medical intensive care unit night admission patient sudden cardiorespiratory arrest resuscitated epinephrine lidocaine direct current cardioversion times four also intubate airway protection following measures patient returned sinus rhythm systolic blood pressure approximately total time elapsed beginning arrest return pulse approximately minutes subsequently required double pressors maintain blood pressure echocardiogram performed bedside demonstrated trivial pericardial effusion left ventricular ejection fraction setting tachycardia hyperdynamic right ventricle suggesting elevated right sided filling pressures although definitive etiology arrest remained unknown likely trigger non q wave myocardial infarction troponin values elevated greater following arrest repeat echocardiogram done demonstrated mild left atrial dilation ejection fraction resting regional wall motion abnormalities including inferior mid apical left ventricular akinesis depressed right ventricular systolic function moderate mitral regurgitation compared prior study left ventricular function unchanged moderate mitral regurgitation right ventricular function appeared worse patient loaded amiodarone subsequently started oral amiodarone following day started heparin intravenously given elevated serum troponin greater medication continued hours given elevated troponins non q wave myocardial infarction patient candidate cardiac catheterization discussions medical intensive care unit team patient family however decision made pursue invasive procedures given patient made resuscitate intubate following resuscitation mentioned family longer wished aggressive resuscitating measures pressors restarted beta blocker ace inhibitor low doses evening patient complained substernal chest pain relieved npg sl morphine also st segment depressions v v reverted baseline resolution pain therefore patient started heparin although discontinued patient ruled myocardial infarction cardiac enzymes substernal chest pain although electrocardiogram changes ruled myocardial infarction cardiac enzymes hospital day four patient began develop evidence congestive heart failure given aggressive fluid resuscitation gentle diuresis furosemide begun time transfer general medicine service patient still significantly volume overloaded following aggressive fluid resuscitation medical intensive care unit therefore continued program gentle diuresis given signs symptoms right sided congestive heart failure achieved adequate diuresis time discharge rehabilitation oxygen saturation greater liters nasal cannula infectious disease sepsis patient started gentamicin piperacillin tazobactam addition levofloxacin metronidazole vancomycin already taking right lower extremity cellulitis prior admission empiric coverage presumed gram negative urosepsis aggressively hydrated intravenous fluids levofloxacin metronidazole discontinued started fluconazole given growth yeast urine culture taken gentamicin hospital day three fluconazole discontinued hospital day five per infectious disease service taken vancomycin piperacillin tazobactam discontinued despite presumption gram negative urosepsis precipitating admission patient positive blood urine cultures aside growth yeast two urine cultures noted remained afebrile discontinuation antibiotics found clostridium difficile negative pulmonary noted patient intubated extubated subsequently developed wheezing mild hypoxia likely secondary cardiac asthma fluid overload setting aggressive fluid resuscitation gently diuresed toward end hospitalization time maintaining oxygen saturation greater liters nasal cannula intermittent ipratropium nebulizers chest physical therapy clearance respiratory secretions renal patient presented acute renal failure prerenal azotemia rapidly resolved following fluid resuscitation time discharge serum creatinine stable preadmission baseline nutrition patient found profoundly malnourished serum albumin admission extubated taking orals performed poorly modified barium swallowing study started thin liquid ground solid diet whole medication tablets small bites sips upright posture meals aspiration precautions also given promod shakes meals nutritional supplementation heart healthy diabetic diet vascular patient operative incisions foot ulcers continued heal throughout admission started multivitamin vitamin c zinc improved wound healing hematology patient transfused one unit packed red blood cells maintain hematocrit greater given history severe coronary artery disease hematocrit subsequently remained stable condition discharge condition discharge stable discharge status rehabilitation facility discharge diagnoses cardiorespiratory arrest non q wave myocardial infarction acute renal failure coronary artery disease diffuse vessel disease right dominant status post proximal left circumflex stent occlusion distal left circumflex status post right coronary artery stent percutaneous coronary intervention distal left circumflex small proximal left anterior descending artery small distal left anterior descending artery congestive heart failure ejection fraction type diabetes neuropathy hypertension diverticulosis found colonoscopy alzheimer dementia history gastrointestinal bleed patient taking eptifibatide cardiac risk factors baseline creatinine history methicillin resistant staphylococcus aureus pseudomonas growth wound cultures severe peripheral vascular disease status post left femoral bypass graft chronic nonhealing foot ulcers medications discharge amiodarone mg po bid mg po qd times one week mg po qd metoprolol mg po bid captopril mg po tid aspirin mg po qd pantoprazole mg po qd heparin units subcutaneously bid multivitamin one tablet po qd zinc sulfate mg po qd vitamin c mg po qd ipratropium nebulizers q h needed wheezing acetaminophen mg mg po q h needed pain miconazole powder groin bid santyl lotion heels bid regular insulin sliding scale code status resuscitate intubate note applicable addendum discharge summary dictated include follow appointments well changes medication list noted dictated medquist job'

In [91]:
df['TEXT'] = df.apply(lambda row: str(preprocess_text(row[2])), axis=1)

In [92]:
df.head()

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE,ICD10_CODE
0,3,145834,admission date date birth sex service medicine...,038.9;785.59;584.9;427.5;410.71;428.0;682.6;42...,A41.9;R57.1;N17.9;I46.9;I21.4;I50.814;L03.119;...
1,4,185777,admission date date birth sex f service chief ...,042;136.3;799.4;276.3;790.7;571.5;041.11;V09.0...,B20;B59;R64;E87.3;R78.81;K74.0;B95.61;Z16.11;E...
2,6,107064,admission date date birth sex f service admiss...,403.91;444.0;997.2;276.6;276.7;285.9;275.3;V15...,I12.0;444.0;T81.719A;276.6;E87.5;D64.9;E83.30;...
3,9,150750,admission date date birth sex service neurolog...,431;507.0;428.0;584.9;276.5;401.9;96.72;96.04,I61.9;J69.0;I50.814;N17.9;276.5;I10;5A1955Z;0B...
4,10,184167,admission date date birth sex f service histor...,V30.00;774.2;765.25;765.15;V29.0;99.83;99.15;96.6,Z38.00;P59.0;P07.32;P07.15;Z05.1;6A600ZZ;3E033...

In [93]:
types = set()
num_tok = 0
for row in df.itertuples():
    for w in row[-3].split(' '):
        types.add(w)
        num_tok += 1
print("Num types", len(types))
print("Num tokens", str(num_tok))

Num types 139263
Num tokens 51895155

In [94]:
df.to_csv(data_path + 'processed_notes_labeled.csv', index=False)

In [95]:
del df

### Train and Test split

In [96]:
df  = pd.read_csv(data_path + 'processed_notes_labeled.csv')

In [97]:
import numpy as np
X = df.iloc[:,:2]
y = df.iloc[:,-1:]

from collections import defaultdict
from sklearn.model_selection import GroupShuffleSplit

subject_ids = list(df['SUBJECT_ID'])
# print(subject_ids)
d_dict = defaultdict(lambda: len(d_dict))
list_ids= [d_dict[n] for n in subject_ids]
# Print ids of the dictionary
# print("The list of ids : ", list_ids)

# groups = np.array([1, 1, 2, 2, 2, 3, 3, 3])
# print(groups.shape)

gss = GroupShuffleSplit(n_splits=1, train_size=.9050978607, random_state=42)
gss.get_n_splits()
train_splt = []
test_splt = []
for train_idx, test_idx in gss.split(X, y, list_ids):
    print("TRAIN:", train_idx, "TEST:", test_idx)
    train_splt = train_idx
    test_splt = test_idx
    print(len(train_idx), len(test_idx))

TRAIN: [    0     2     3 ... 52719 52720 52721] TEST: [    1     4     7 ... 52701 52710 52716]
47762 4960

In [98]:
traindf = df.iloc[train_splt]
train_subid = list(traindf['SUBJECT_ID'].unique())
traindf['length'] = traindf.apply(lambda row: len(str(row.loc['TEXT']).split()), axis=1)
traindf = traindf.sort_values(['length'])
traindf.to_csv(data_path + 'train_full.csv',index=False)

/var/tmp/pbs.14173.master/ipykernel_3259279/2418772405.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  traindf['length'] = traindf.apply(lambda row: len(str(row.loc['TEXT']).split()), axis=1)

In [99]:
traindf.head()

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE,ICD10_CODE,length
2992,2896,178124,name admission date date birth sex service med...,211.3;427.31;578.9;560.1;496;584.9;428.0;276.5...,D12.0;I48.91;K92.2;K56.0;J44.9;N17.9;I50.814;2...,20
184,158,169433,admission date date birth sex service med blum...,532.40;493.20;V45.81;412;401.9;44.43,K26.4;J44.9;Z95.1;I25.2;I10;0W3P8ZZ,23
8357,7995,190945,admission date date birth sex f service vascul...,440.22;492.8;401.9;714.0;39.29;88.48,I70.229;J43.9;I10;M06.9;0312090;B40F0ZZ,30
3678,3564,117638,admission date service medicine please see omr...,038.49;041.6;785.59;518.81;507.0;592.1;591;276...,A41.59;B96.4;R57.1;J96.00;J69.0;N20.1;N13.30;E...,36
43779,70734,124010,name admission date date birth sex f service s...,852.20;410.71;805.6;285.1;816.12;E880.9;922.32...,S06.5X0A;I21.4;S32.10XA;D62;S62.523B;W10.8XXA;...,41

In [100]:
testdf = df.iloc[test_splt]
test_subid = list(testdf['SUBJECT_ID'].unique())
testdf['length'] = testdf.apply(lambda row: len(str(row['TEXT']).split()), axis=1)
testdf = testdf.sort_values(['length'])
testdf.to_csv(data_path + 'test_full.csv',index=False)

/var/tmp/pbs.14173.master/ipykernel_3259279/3877616801.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testdf['length'] = testdf.apply(lambda row: len(str(row['TEXT']).split()), axis=1)

In [101]:
testdf.head()

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE,ICD10_CODE,length
6751,6495,139808,admission date date birth sex service psu disc...,998.59;998.32;905.4;E929.0;041.85;86.22;86.69;...,K68.11;T81.31XA;M84.369S;V87.0XXS;B96.89;0HB0X...,29
22375,21434,191109,admission date date birth sex service micu his...,510.0;162.3;410.91;427.32;427.31;518.81;507.0;...,J86.0;C34.10;I21.3;I48.92;I48.91;J96.00;J69.0;...,64
1379,1284,118883,admission date date birth sex service history ...,571.2;572.2;789.5;584.5;54.91;89.64;38.95;38.93,K70.30;K72.90;789.5;N17.0;0D9530Z;02HP32Z;05HY...,70
17229,16525,134157,name admission date date birth sex f service a...,851.00;518.5;780.39;276.1;285.9;401.9;E888.9;7...,S06.330A;518.5;R56.9;E87.1;D64.9;I10;W19.XXXA;...,74
18942,18139,152558,admission date service medicine history presen...,507.0;518.81;413.9;707.14;008.45;038.9;250.01;...,J69.0;J96.00;I20.8;L97.409;A04.71;A41.9;E10.9;...,78

In [102]:
# devdf = df.iloc[dev_splt]
# dev_subid = list(devdf['SUBJECT_ID'].unique())
# devdf['length'] = devdf.progress_apply(lambda row: len(str(row['TEXT']).split()), axis=1)
# devdf = devdf.sort_values(['length'])
# devdf.to_csv(data_path + 'dev_full.csv',index=False)

In [103]:
# devdf.head()

In [104]:
(len(train_subid),len(test_subid))

(37223, 3903)

### Top 50 codes

In [105]:
#first calculate the top k
counts = Counter()
dfnl = pd.read_csv(data_path + 'processed_notes_labeled.csv')
for row in dfnl.itertuples():
    for label in str(row[-1]).split(';'):
        counts[label] += 1

In [106]:
codes_50 = sorted(counts.items(), key=operator.itemgetter(1), reverse=True)

In [107]:
codes_50 = [code[0] for code in codes_50[:50]]

In [108]:
ICD10_50 = codes_50

In [109]:
ICD10_50

['I10',
 '02H633Z',
 'I25.10',
 'I50.814',
 'I48.91',
 '0BH17EZ',
 '0DH67UZ',
 'N17.9',
 'E11.9',
 '5A1935Z',
 'E78.4',
 'J96.00',
 '30233N1',
 '5A1221Z',
 'N39.0',
 'B2000ZZ',
 'K21.9',
 '5A1955Z',
 'E78.00',
 'D64.9',
 'J44.9',
 'A41.9',
 'E03.9',
 'J18.9',
 '02HW32Z',
 'D62',
 '0210088',
 'E87.2',
 '3E0336Z',
 'R65.20',
 'Z79.01',
 'J69.0',
 'B244YZZ',
 'I12.9',
 'F32.9',
 'N18.9',
 'F17.200',
 'I21.4',
 '4A020N7',
 'I25.2',
 '0B933ZX',
 '5A1D70Z',
 '0DJ08ZZ',
 'D69.6',
 'E87.1',
 'Z95.1',
 'I34.0',
 '0BJ08ZZ',
 'I12.0',
 'Z87.891']

In [110]:
#first calculate the top k
counts = Counter()
dfnl = pd.read_csv(data_path + 'processed_notes_labeled.csv')
for row in dfnl.itertuples():
    for label in str(row[-2]).split(';'):
        counts[label] += 1

In [111]:
codes_50 = sorted(counts.items(), key=operator.itemgetter(1), reverse=True)

In [112]:
codes_50 = [code[0] for code in codes_50[:50]]

In [113]:
ICD9_50 = codes_50

In [114]:
ICD9_50

['401.9',
 '38.93',
 '428.0',
 '427.31',
 '414.01',
 '96.04',
 '96.6',
 '584.9',
 '250.00',
 '96.71',
 '272.4',
 '518.81',
 '99.04',
 '39.61',
 '599.0',
 '530.81',
 '96.72',
 '272.0',
 '285.9',
 '88.56',
 '244.9',
 '486',
 '38.91',
 '285.1',
 '36.15',
 '276.2',
 '496',
 '99.15',
 '995.92',
 'V58.61',
 '507.0',
 '038.9',
 '88.72',
 '585.9',
 '403.90',
 '311',
 '305.1',
 '37.22',
 '412',
 '33.24',
 '39.95',
 '287.5',
 '410.71',
 '276.1',
 'V45.81',
 '424.0',
 '45.13',
 'V15.82',
 '511.9',
 '93.90']

In [115]:
ICD9_50[-1] = '37.23'

In [116]:
with open(data_path + 'processed_notes_labeled.csv', 'r') as f:
    with open(data_path + 'TOP50_notes_labeled.csv', 'w') as of:
        r = csv.reader(f)
        w = csv.writer(of)
        #header
        w.writerow(next(r))
        for row in r:
#             codes10 = set(str(row[-2]).split(';'))
#             filtered_codes10 = codes10.intersection(set(ICD10_50))
            codes9 = set(str(row[-2]).split(';'))
            filtered_codes9 = codes9.intersection(set(ICD9_50))
            filtered_codes10 = [mapping[code] for code in filtered_codes9]
            if len(filtered_codes9)>0:
                w.writerow(row[:-2]+ [';'.join(filtered_codes9)] + [';'.join(filtered_codes10)])

In [117]:
t50df = pd.read_csv(data_path + 'TOP50_notes_labeled.csv')

In [118]:
t50df.head()

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE,ICD10_CODE
0,3,145834,admission date date birth sex service medicine...,96.72;96.6;38.93;038.9;410.71;96.04;428.0;584.9,5A1955Z;0DH67UZ;02H633Z;A41.9;I21.4;0BH17EZ;I5...
1,4,185777,admission date date birth sex f service chief ...,88.72;38.93,B244YZZ;02H633Z
2,6,107064,admission date date birth sex f service admiss...,99.04;V15.82;285.9,30233N1;Z87.891;D64.9
3,9,150750,admission date date birth sex service neurolog...,96.72;507.0;96.04;401.9;428.0;584.9,5A1955Z;J69.0;0BH17EZ;I10;I50.814;N17.9
4,10,184167,admission date date birth sex f service histor...,96.6;99.15,0DH67UZ;3E0336Z

In [119]:
len(t50df.index)

49414

### Subset

In [120]:
t50df = pd.read_csv(data_path + 'TOP50_notes_labeled.csv')

In [121]:
train_ids = pd.read_csv(data_path+'train_50_hadm_ids.csv',names=['HADM_ID'],header=None)
train_admisn_ids  = list(train_ids['HADM_ID'])
train_50 = t50df.loc[t50df['HADM_ID'].isin(train_admisn_ids)]

In [122]:
len(train_50.index)

8066

In [123]:
train_50.to_csv(data_path + 'train.csv', index=False)

In [124]:
test_ids = pd.read_csv(data_path+'test_50_hadm_ids.csv',names=['HADM_ID'],header=None)
test_admisn_ids  = list(test_ids['HADM_ID'])
test_50 = t50df.loc[t50df['HADM_ID'].isin(test_admisn_ids)]

In [125]:
len(test_50.index)

1729

In [126]:
test_50.to_csv(data_path + 'test.csv', index=False)

In [127]:
dev_ids = pd.read_csv(data_path+'dev_50_hadm_ids.csv',names=['HADM_ID'],header=None)
dev_admisn_ids  = list(dev_ids['HADM_ID'])
dev_50 = t50df.loc[t50df['HADM_ID'].isin(dev_admisn_ids)]

In [128]:
len(dev_50.index)

1573

In [129]:
dev_50.to_csv(data_path + 'dev.csv', index=False)

In [130]:
all_admisn_ids = train_admisn_ids + test_admisn_ids + dev_admisn_ids

In [131]:
all_50 = t50df.loc[t50df['HADM_ID'].isin(all_admisn_ids)]

In [132]:
len(all_50.index)

11368

In [133]:
all_50.to_csv(data_path + 'all_50.csv', index=False)

### sort

In [135]:
train_50 = pd.read_csv(data_path + 'train.csv')
train_50['length'] = train_50.apply(lambda row: len(str(row['TEXT']).split()), axis=1)
train_50 = train_50.sort_values(['length'])
train_50.to_csv(data_path + 'train.csv', index=False)

In [136]:
test_50 = pd.read_csv(data_path + 'test.csv')
test_50['length'] = test_50.apply(lambda row: len(str(row['TEXT']).split()), axis=1)
test_50 = test_50.sort_values(['length'])
test_50.to_csv(data_path + 'test.csv', index=False)

In [138]:
dev_50 = pd.read_csv(data_path + 'dev.csv')
dev_50['length'] = dev_50.apply(lambda row: len(str(row['TEXT']).split()), axis=1)
dev_50 = dev_50.sort_values(['length'])
dev_50.to_csv(data_path + 'dev.csv', index=False)

### Label Description

In [16]:
diag_desc = pd.read_csv(data_path + 'D_ICD_DIAGNOSES.csv')
proc_desc = pd.read_csv(data_path + 'D_ICD_PROCEDURES.csv')

In [17]:
diag_desc.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."

In [18]:
proc_desc.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,264,851,Canthotomy,Canthotomy
1,265,852,Blepharorrhaphy,Blepharorrhaphy
2,266,859,Adjust lid position NEC,Other adjustment of lid position
3,267,861,Lid reconst w skin graft,Reconstruction of eyelid with skin flap or graft
4,268,862,Lid reconst w muc graft,Reconstruction of eyelid with mucous membrane ...

In [20]:
diag_desc['ICD9_CODE'] = diag_desc.apply(lambda row: str(reformat(str(row[1]), True)), axis=1)
proc_desc['ICD9_CODE'] = proc_desc.apply(lambda row: str(reformat(str(row[1]), False)), axis=1)

In [21]:
diag_desc.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,011.66,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,011.70,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,011.71,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,011.72,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,011.73,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."

In [22]:
proc_desc.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,264,85.1,Canthotomy,Canthotomy
1,265,85.2,Blepharorrhaphy,Blepharorrhaphy
2,266,85.9,Adjust lid position NEC,Other adjustment of lid position
3,267,86.1,Lid reconst w skin graft,Reconstruction of eyelid with skin flap or graft
4,268,86.2,Lid reconst w muc graft,Reconstruction of eyelid with mucous membrane ...

In [23]:
code_desc = pd.concat([diag_desc, proc_desc])
code_desc.to_csv(data_path + 'D_ICD.csv', index=False,
               columns=['ICD9_CODE','LONG_TITLE'],
               header=['ICD9_CODE','DESC'])

In [24]:
code_desc = pd.read_csv(data_path + 'D_ICD.csv')

In [25]:
code_desc.head()

  ICD9_CODE                                               DESC
0    011.66  Tuberculous pneumonia [any form], tubercle bac...
1    011.70              Tuberculous pneumothorax, unspecified
2    011.71  Tuberculous pneumothorax, bacteriological or h...
3    011.72  Tuberculous pneumothorax, bacteriological or h...
4    011.73  Tuberculous pneumothorax, tubercle bacilli fou...

In [149]:
code_desc_50 = code_desc.loc[code_desc['ICD9_CODE'].isin(ICD9_50)]

In [150]:
code_desc_50.head()

     ICD9_CODE                                               DESC
609      038.9                             Unspecified septicemia
1588    250.00  Diabetes mellitus without mention of complicat...
1796     244.9                Unspecified acquired hypothyroidism
2386     272.0                          Pure hypercholesterolemia
2390     272.4               Other and unspecified hyperlipidemia

In [151]:
code_desc_50.to_csv(data_path + 'D_ICD_50.csv', index=False)

In [152]:
code_desc_50 = pd.read_csv(data_path + 'D_ICD_50.csv')

In [153]:
code_desc_50.head()

  ICD9_CODE                                               DESC
0     038.9                             Unspecified septicemia
1    250.00  Diabetes mellitus without mention of complicat...
2     244.9                Unspecified acquired hypothyroidism
3     272.0                          Pure hypercholesterolemia
4     272.4               Other and unspecified hyperlipidemia

In [154]:
code_desc_50.iloc[39,-1]

'Closed [endoscopic] biopsy of bronchus'

In [155]:
tokenizer = RegexpTokenizer(r'\w+')
def preprocess_desc(desc):
    ds = desc
    ds = ds.replace('\n',' ')
    ds = ds.replace('\r',' ')
    ds = re.sub(' +',' ',ds)
    ds = re.sub('{\(,\),\[,\]}','',ds)
    ds = ds.strip()
    tokens = [t.lower() for t in tokenizer.tokenize(ds)]
    ds = ' '.join(tokens)
    return ds
preprocess_desc(code_desc_50.iloc[39,-1])

'closed endoscopic biopsy of bronchus'

In [158]:
code_desc_50['DESC'] = code_desc_50.apply(lambda row: str(preprocess_desc(row[-1])), axis=1)

In [159]:
code_desc_50.head()

  ICD9_CODE                                               DESC
0     038.9                             unspecified septicemia
1    250.00  diabetes mellitus without mention of complicat...
2     244.9                unspecified acquired hypothyroidism
3     272.0                          pure hypercholesterolemia
4     272.4               other and unspecified hyperlipidemia

In [160]:
code_desc_50 = pd.read_csv(data_path + 'D_ICD_50.csv')

In [162]:
def icd9to10(icd_9):
    return mapping[icd_9]
code_desc_50['ICD9_CODE'] = code_desc_50.apply(lambda row: icd9to10(row[0]), axis=1)

In [163]:
code_desc_50.to_csv(data_path + 'D_ICD_50.csv', index=False,
                    columns=['ICD9_CODE','DESC'],
                    header=['ICD10_CODE','DESC'])

In [164]:
code_desc_50 = pd.read_csv(data_path + 'D_ICD_50.csv')

In [165]:
code_desc_50

   ICD10_CODE                                               DESC
0       A41.9                             Unspecified septicemia
1       E11.9  Diabetes mellitus without mention of complicat...
2       E03.9                Unspecified acquired hypothyroidism
3      E78.00                          Pure hypercholesterolemia
4       E78.4               Other and unspecified hyperlipidemia
5       E87.1                  Hyposmolality and/or hyponatremia
6       E87.2                                           Acidosis
7     F17.200                               Tobacco use disorder
8       F32.9      Depressive disorder, not elsewhere classified
9         D62                       Acute posthemorrhagic anemia
10      D64.9                                Anemia, unspecified
11      D69.6                      Thrombocytopenia, unspecified
12        I10                 Unspecified essential hypertension
13      I12.9  Hypertensive chronic kidney disease, unspecifi...
14      I21.4  Subendocardial infarction, initial episode of ...
15      I25.2                          Old myocardial infarction
16     I25.10  Coronary atherosclerosis of native coronary ar...
17      I34.0                             Mitral valve disorders
18     I48.91                                Atrial fibrillation
19    I50.814              Congestive heart failure, unspecified
20      J18.9                    Pneumonia, organism unspecified
21      J44.9  Chronic airway obstruction, not elsewhere clas...
22      J69.0   Pneumonitis due to inhalation of food or vomitus
23      J91.8                       Unspecified pleural effusion
24     J96.00                          Acute respiratory failure
25      N17.9                  Acute kidney failure, unspecified
26      N18.9                Chronic kidney disease, unspecified
27      K21.9                                  Esophageal reflux
28      N39.0        Urinary tract infection, site not specified
29      Z95.1                        Aortocoronary bypass status
30     R65.20                                      Severe sepsis
31     Z79.01          Long-term (current) use of anticoagulants
32    Z87.891                    Personal history of tobacco use
33    0210088     Single internal mammary-coronary artery bypass
34    5A1221Z  Extracorporeal circulation auxiliary to open h...
35    02HW32Z                           Arterial catheterization
36    02H633Z   Venous catheterization, not elsewhere classified
37    4A020N7                 Left heart cardiac catheterization
38    4A020N8  Combined right and left heart cardiac catheter...
39    0B933ZX             Closed [endoscopic] biopsy of bronchus
40    0DJ08ZZ                 Other endoscopy of small intestine
41    5A1D70Z                                       Hemodialysis
42    B2000ZZ         Coronary arteriography using two catheters
43    B244YZZ                     Diagnostic ultrasound of heart
44    0BH17EZ                     Insertion of endotracheal tube
45    0DH67UZ  Enteral infusion of concentrated nutritional s...
46    5A1935Z  Continuous invasive mechanical ventilation for...
47    5A1955Z  Continuous invasive mechanical ventilation for...
48    30233N1                        Transfusion of packed cells
49    3E0336Z  Parenteral infusion of concentrated nutritiona...

In [166]:
final_codes = ['0210088', '02H633Z', '02HW32Z', '0B933ZX', '0BH17EZ', '0DH67UZ', '0DJ08ZZ', '30233N1', '3E0336Z', '4A020N7', '4A020N8', '5A1221Z', '5A1935Z', '5A1955Z', '5A1D70Z', 'A41.9', 'B2000ZZ', 'B244YZZ', 'D62', 'D64.9', 'D69.6', 'E03.9', 'E11.9', 'E78.00', 'E78.4', 'E87.1', 'E87.2', 'F17.200', 'F32.9', 'I10', 'I12.9', 'I21.4', 'I25.10', 'I25.2', 'I34.0', 'I48.91', 'I50.814', 'J18.9', 'J44.9', 'J69.0', 'J91.8', 'J96.00', 'K21.9', 'N17.9', 'N18.9', 'N39.0', 'R65.20', 'Z79.01', 'Z87.891', 'Z95.1']

In [167]:
got_codes = list(code_desc_50['ICD10_CODE'])

In [168]:
for c in final_codes:
    if c not in got_codes:
        print(c)

In [4]:
df = pd.read_csv(data_path + 'processed_notes_labeled.csv')
df

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE,ICD10_CODE
0,3,145834,admission date date birth sex service medicine...,038.9;785.59;584.9;427.5;410.71;428.0;682.6;42...,A41.9;R57.1;N17.9;I46.9;I21.4;I50.814;L03.119;...
1,4,185777,admission date date birth sex f service chief ...,042;136.3;799.4;276.3;790.7;571.5;041.11;V09.0...,B20;B59;R64;E87.3;R78.81;K74.0;B95.61;Z16.11;E...
2,6,107064,admission date date birth sex f service admiss...,403.91;444.0;997.2;276.6;276.7;285.9;275.3;V15...,I12.0;444.0;T81.719A;276.6;E87.5;D64.9;E83.30;...
3,9,150750,admission date date birth sex service neurolog...,431;507.0;428.0;584.9;276.5;401.9;96.72;96.04,I61.9;J69.0;I50.814;N17.9;276.5;I10;5A1955Z;0B...
4,10,184167,admission date date birth sex f service histor...,V30.00;774.2;765.25;765.15;V29.0;99.83;99.15;96.6,Z38.00;P59.0;P07.32;P07.15;Z05.1;6A600ZZ;3E033...
...,...,...,...,...,...
52717,99985,176670,admission date date birth sex service medicine...,038.9;518.81;482.41;487.0;785.52;V42.81;995.92...,A41.9;J96.00;J15.211;J11.00;R65.21;Z94.81;R65....
52718,99991,151118,admission date date birth sex service surgery ...,562.11;038.9;557.0;584.9;995.92;560.81;789.59;...,K57.32;A41.9;K55.011;N17.9;R65.20;K56.50;R18.8...
52719,99992,197084,admission date date birth sex f service medici...,999.9;568.81;577.2;285.1;584.9;579.9;729.92;53...,T88.8XXA;K66.1;K86.2;D62;N17.9;K90.9;M79.81;K2...
52720,99995,137810,admission date service surgery allergies zanta...,441.4;428.33;998.12;285.1;424.1;250.00;998.11;...,I71.4;I50.33;D78.01;D62;I35.0;E11.9;D78.01;T82...
52721,99999,113369,admission date date birth sex f service neuros...,756.12;786.1;401.9;250.00;413.9;81.08;80.51;81...,Q76.2;R06.1;I10;E11.9;I20.8;0SG007J;0RB30ZZ;81...

In [9]:
ICD10_32 = ['I10','I50.9','I48.91','I25.10','N17.9','E11.9','E78.5','N39.0','E78.0','D64.9','E03.9','J18.9','D62','R65.20','F32.9','F17.200','D69.6','Z95.1','Z87.891','I12.0','R65.21','Z79.4','G47.33','J45.909','M81.0','R56.9','N18.6','E66.9','R78.81','F05','E46','E66.01']

In [6]:
len(ICD10_32)

32

In [8]:
with open(data_path + 'processed_notes_labeled.csv', 'r') as f:
    with open(data_path + 'TOP32_notes_labeled.csv', 'w') as of:
        r = csv.reader(f)
        w = csv.writer(of)
        #header
        w.writerow(next(r))
        for row in r:
            codes10 = set(str(row[-1]).split(';'))
            filtered_codes10 = codes10.intersection(set(ICD10_32))
            if len(filtered_codes10)>0:
                w.writerow(row[:-2]+ [';'.join(filtered_codes10)])

In [9]:
df32 = pd.read_csv(data_path + 'TOP32_notes_labeled.csv')
df32

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE,ICD10_CODE
0,3,145834,admission date date birth sex service medicine...,N17.9;E46,NaN
1,4,185777,admission date date birth sex f service chief ...,R78.81,NaN
2,6,107064,admission date date birth sex f service admiss...,D64.9;I12.0;Z87.891,NaN
3,9,150750,admission date date birth sex service neurolog...,N17.9;I10,NaN
4,12,112213,admission date date birth sex service surgery ...,I10,NaN
...,...,...,...,...,...
44133,99985,176670,admission date date birth sex service medicine...,E03.9;D64.9;R65.21;R65.20,NaN
44134,99991,151118,admission date date birth sex service surgery ...,N17.9;E11.9;R65.20,NaN
44135,99992,197084,admission date date birth sex f service medici...,N17.9;I10;D62,NaN
44136,99995,137810,admission date service surgery allergies zanta...,I25.10;Z95.1;E11.9;D62;Z87.891,NaN
44137,99999,113369,admission date date birth sex f service neuros...,I10;E11.9,NaN

In [11]:
df32 = df32.drop(['ICD10_CODE'],axis=1)

In [13]:
df32.to_csv(data_path + 'TOP32_notes_labeled.csv',index=False)

In [18]:
df = pd.read_csv(data_path + 'TOP32_notes_labeled.csv')

In [43]:
import numpy as np
X = df.iloc[:,:2]
y = df.iloc[:,-1:]

from collections import defaultdict
from sklearn.model_selection import GroupShuffleSplit

subject_ids = list(df['SUBJECT_ID'])
# print(subject_ids)
d_dict = defaultdict(lambda: len(d_dict))
list_ids= [d_dict[n] for n in subject_ids]
# Print ids of the dictionary
# print("The list of ids : ", list_ids)

# groups = np.array([1, 1, 2, 2, 2, 3, 3, 3])
# print(groups.shape)

gss = GroupShuffleSplit(n_splits=1, train_size=.7, random_state=42)
gss.get_n_splits()
train_splt = []
test_splt = []
for train_idx, test_idx in gss.split(X, y, list_ids):
    print("TRAIN:", train_idx, "TEST:", test_idx)
    train_splt = train_idx
    test_splt = test_idx
    print(len(train_idx), len(test_idx))

TRAIN: [    1     2     4 ... 12966 12967 12970] TEST: [    0     3    10 ... 12969 12971 12972]
9042 3931

In [34]:
train_df = df.iloc[train_splt]
train_df

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE
1,4,185777,admission date date birth sex f service chief ...,R78.81
2,6,107064,admission date date birth sex f service admiss...,D64.9;I12.0;Z87.891
5,13,143045,admission date date birth sex f service cardia...,I25.10;I10;E11.9
9,20,157681,admission date date birth sex f service histor...,I25.10;I10;E11.9
10,21,109451,admission date service medicine allergies pati...,N17.9;I25.10;E11.9;I48.91;I12.0
...,...,...,...,...
44131,99982,183791,admission date date birth sex service medicine...,N17.9;D69.6;I48.91
44132,99983,117390,admission date date birth sex service medicine...,N17.9;I25.10;I10
44134,99991,151118,admission date date birth sex service surgery ...,N17.9;E11.9;R65.20
44135,99992,197084,admission date date birth sex f service medici...,N17.9;I10;D62
44137,99999,113369,admission date date birth sex f service neuros...,I10;E11.9

In [37]:
train_df.to_csv(data_path + 'train32.csv',index=False)

In [35]:
test_df = df.iloc[test_splt]
test_df

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE
0,3,145834,admission date date birth sex service medicine...,N17.9;E46
3,9,150750,admission date date birth sex service neurolog...,N17.9;I10
4,12,112213,admission date date birth sex service surgery ...,I10
6,17,161087,admission date date birth sex f service cardio...,F32.9
7,18,188822,admission date date birth sex service psychiat...,Z79.4;R56.9;I10
...,...,...,...,...
44087,99830,176834,admission date date birth sex service cardioth...,N17.9;I10;E11.9;R65.20;I48.91;D62
44118,99936,107913,admission date service neurology allergies pat...,I48.91
44123,99946,157197,admission date date birth sex service medicine...,N39.0
44133,99985,176670,admission date date birth sex service medicine...,E03.9;D64.9;R65.21;R65.20
44136,99995,137810,admission date service surgery allergies zanta...,I25.10;Z95.1;E11.9;D62;Z87.891

In [38]:
df= test_df

In [44]:
test_df = df.iloc[train_splt]
test_df

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE
3,9,150750,admission date date birth sex service neurolog...,N17.9;I10
4,12,112213,admission date date birth sex service surgery ...,I10
7,18,188822,admission date date birth sex service psychiat...,Z79.4;R56.9;I10
8,19,109235,admission date service surgery allergies patie...,M81.0;N39.0;I10
19,30,104557,admission date service identification chief co...,I25.10;I10
...,...,...,...,...
44080,99814,186518,admission date service surgery allergies morph...,D64.9;N39.0;E11.9;I48.91
44083,99822,146997,admission date date birth sex service medicine...,Z87.891;I10
44084,99822,163117,admission date date birth sex service medicine...,I10;J18.9
44085,99822,195871,admission date date birth sex service medicine...,N17.9;I10;R65.20;I48.91;E46
44123,99946,157197,admission date date birth sex service medicine...,N39.0

In [45]:
test_df.to_csv(data_path + 'test32.csv',index=False)

In [46]:
val_df = df.iloc[test_splt]
val_df.to_csv(data_path + 'val32.csv',index=False)

In [47]:
val_df

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE
0,3,145834,admission date date birth sex service medicine...,N17.9;E46
6,17,161087,admission date date birth sex f service cardio...,F32.9
33,45,157907,admission date date birth sex service history ...,F17.200
37,53,155385,admission date date birth sex service cme hist...,I25.10;I10
39,56,181711,admission date service medicine allergies pati...,R56.9;I10
...,...,...,...,...
44081,99817,195557,admission date date birth sex service medicine...,N39.0;I25.10;N17.9;J18.9
44087,99830,176834,admission date date birth sex service cardioth...,N17.9;I10;E11.9;R65.20;I48.91;D62
44118,99936,107913,admission date service neurology allergies pat...,I48.91
44133,99985,176670,admission date date birth sex service medicine...,E03.9;D64.9;R65.21;R65.20
44136,99995,137810,admission date service surgery allergies zanta...,I25.10;Z95.1;E11.9;D62;Z87.891

In [49]:
mapping

{'403.01': 'I12.0',
 '486': 'J18.9',
 '582.81': 'N08',
 '585.5': 'N18.5',
 '425.4': 'I42.5',
 '276.2': 'E87.2',
 '710.0': 'M32.10',
 '276.7': 'E87.5',
 '724.3': 'M54.30',
 '458.29': 'I95.2',
 '287.5': 'D69.6',
 '285.21': 'D63.1',
 '285.29': 'D63.8',
 '275.41': 'E83.51',
 '585.6': 'N18.6',
 '583.81': 'N08',
 '558.9': 'K52.3',
 '327.23': 'G47.33',
 '228.04': 'D18.03',
 '338.29': 'G89.29',
 '789.00': 'R10.9',
 '790.92': 'R79.1',
 'V45.11': 'Z99.2',
 '531.00': 'K25.0',
 '410.71': 'I21.4',
 '285.9': 'D64.9',
 '414.01': 'I25.10',
 '725': 'M35.3',
 '191.5': 'C71.5',
 '331.4': 'G91.1',
 '530.81': 'K21.9',
 '411.1': 'I20.0',
 '482.83': 'J15.6',
 '272.0': 'E78.00',
 '305.1': 'F17.200',
 '194.0': 'C74.90',
 '197.7': 'C78.7',
 '255.3': 'E27.0',
 '424.0': 'I34.0',
 '584.5': 'N17.0',
 '998.59': 'K68.11',
 '682.2': 'L03.319',
 '511.9': 'J91.8',
 '599.0': 'N39.0',
 '428.0': 'I50.814',
 '349.82': 'G92',
 '401.9': 'I10',
 'V10.00': 'Z85.00',
 'V45.3': 'Z98.0',
 'V58.65': 'Z79.51',
 '041.3': 'B96.1',
 '251.8': 'E16.8',
 'E932.0': 'E932.0',
 'V30.01': 'Z38.01',
 'V05.3': 'Z23',
 'V29.0': 'Z05.1',
 '571.5': 'K74.0',
 '789.5': '789.5',
 '070.54': 'B18.2',
 '285.1': 'D62',
 '276.5': '276.5',
 '250.00': 'E11.9',
 '570': 'K72.00',
 '070.44': 'B18.2',
 '571.2': 'K70.30',
 '584.9': 'N17.9',
 '572.4': 'K76.7',
 '511.8': '511.8',
 '286.7': 'D68.32',
 '518.82': 'J80',
 '038.9': 'A41.9',
 '280.0': 'D50.0',
 '263.9': 'E46',
 '276.1': 'E87.1',
 '995.92': 'R65.20',
 '303.93': 'F10.21',
 '572.3': 'K76.6',
 '244.9': 'E03.9',
 '112.2': 'B37.42',
 'V30.00': 'Z38.00',
 '881.22': 'S66.929A',
 '903.2': 'S55.109A',
 '903.3': 'S55.009A',
 '955.1': 'S44.10XA',
 '955.5': 'S44.50XA',
 '955.2': 'S44.00XA',
 'E956': 'X78.9XXA',
 '305.90': 'F18.10',
 '745.2': 'Q21.3',
 '762.2': 'P02.29',
 '410.11': 'I21.09',
 '441.2': 'I71.2',
 '496': 'J44.9',
 '070.70': 'B19.20',
 '447.8': 'I77.3',
 '414.02': 'I25.810',
 '440.21': 'I70.219',
 '585.4': 'N18.4',
 '997.1': 'I97.710',
 '440.0': 'I70.0',
 '403.90': 'I12.9',
 '274.9': 'M10.9',
 '427.31': 'I48.91',
 'V10.46': 'Z85.46',
 'V10.11': 'Z85.118',
 'V12.09': 'Z86.19',
 'V09.0': 'Z16.11',
 '569.83': 'K63.1',
 '560.89': 'K56.690',
 '491.21': 'J44.1',
 '998.31': 'T81.32XA',
 '428.33': 'I50.33',
 '414.00': 'I25.10',
 'V45.81': 'Z95.1',
 '433.31': 'I63.59',
 '998.12': 'D78.01',
 '436': 'I67.89',
 '433.20': 'I65.09',
 '493.90': 'J45.909',
 '996.71': 'T82.817A',
 '424.1': 'I35.0',
 '416.8': 'I27.20',
 'V31.01': 'Z38.31',
 '765.03': 'P07.03',
 '769': 'P22.0',
 '779.3': '779.3',
 '774.2': 'P59.0',
 '770.7': 'P27.0',
 '765.24': 'P07.26',
 '770.81': 'P28.3',
 '779.81': 'P29.12',
 '747.0': 'Q25.0',
 '776.6': 'P61.2',
 '772.6': 'P54.5',
 '779.89': 'P29.0',
 '362.21': 'H35.179',
 '198.89': 'C79.89',
 '197.2': 'C78.2',
 'V10.3': 'Z85.3',
 '746.89': 'Q23.8',
 '766.1': 'P08.1',
 'V29.3': 'Z05.41',
 '853.00': 'S06.360A',
 '780.39': 'R56.9',
 'E888.9': 'W19.XXXA',
 '518.5': '518.5',
 '730.28': 'M46.20',
 '250.60': 'E11.40',
 '357.2': 'E08.42',
 '772.14': 'P52.22',
 '765.18': 'P07.18',
 '765.28': 'P07.38',
 '430': 'I60.9',
 '293.9': 'F06.8',
 '443.9': 'I73.9',
 'V15.82': 'Z87.891',
 '396.3': 'I08.0',
 '365.9': 'H40.9',
 '135': 'D86.9',
 '311': 'F32.9',
 'E935.2': 'E935.2',
 '721.41': 'M47.14',
 '214.8': 'D17.79',
 '724.01': 'M48.04',
 '437.5': 'I67.5',
 '427.32': 'I48.92',
 '242.90': 'E05.90',
 '600.00': 'N40.0',
 'V45.82': 'Z98.61',
 '189.0': 'C64.9',
 '038.11': 'A41.01',
 '995.91': 'A41.9',
 '304.00': 'F11.20',
 '112.0': 'B37.0',
 '511.1': 'J90',
 '711.07': 'M00.079',
 '711.04': 'M00.049',
 '800.12': 'S06.331A',
 '305.00': 'F10.10',
 '305.60': 'F14.10',
 'E814.7': 'V03.10XA',
 '873.0': 'S01.00XA',
 '781.2': 'R26.0',
 '378.54': 'H49.20',
 '951.8': 'S04.819A',
 '765.19': 'P07.30',
 '770.89': 'P28.89',
 '767.8': 'P15.0',
 '431': 'I61.9',
 '294.8': 'F06.0',
 '998.2': 'D78.11',
 '276.8': 'E87.6',
 '042': 'B20',
 '585.9': 'N18.9',
 '284.8': '284.8',
 '428.20': 'I50.20',
 'V14.1': 'Z88.1',
 'V07.1': 'Z51.6',
 '765.17': 'P07.17',
 '764.07': 'P05.07',
 '775.6': 'P70.4',
 '776.4': 'P61.1',
 '745.4': 'I27.83',
 '969.5': 'T43.591A',
 '295.90': 'F20.9',
 'E950.3': 'E950.3',
 '266.2': 'E53.8',
 '746.6': 'Q23.3',
 '767.19': 'P12.0',
 '410.01': 'I21.09',
 'V10.42': 'Z85.42',
 '766.0': 'P08.0',
 '997.3': '997.3',
 '518.0': 'J98.11',
 '997.09': 'G03.8',
 '355.8': 'G57.90',
 '553.3': 'K44.9',
 '410.61': 'I21.29',
 '272.1': 'E78.1',
 '274.0': '274.0',
 '965.00': 'T40.0X1A',
 '304.01': 'F11.20',
 '969.4': 'T42.4X1A',
 'E850.2': 'E850.2',
 'E853.2': 'E853.2',
 '427.1': 'I47.2',
 '426.89': 'I45.89',
 '804.16': 'S06.339A',
 '873.42': 'S01.80XA',
 'E916': 'W20.8XXA',
 '202.10': 'C84.00',
 'V50.2': 'Z41.2',
 '433.10': 'I65.29',
 '398.91': 'I09.81',
 '403.91': 'I12.0',
 '707.15': 'L97.509',
 '414.8': 'I25.5',
 '191.9': 'C71.9',
 '348.4': 'G93.5',
 '787.01': 'R11.2',
 '564.00': 'K59.00',
 'V42.81': 'Z94.81',
 '238.75': 'D46.9',
 '300.4': 'F34.1',
 '272.4': 'E78.4',
 '600.01': 'N40.1',
 '788.43': 'R35.1',
 '332.0': 'G20',
 'V10.79': 'Z85.79',
 'V43.3': 'Z95.2',
 '585.3': 'N18.3',
 '202.80': 'C85.80',
 'V42.82': 'Z94.84',
 '998.11': 'D78.01',
 '300.00': 'F41.9',
 'E879.8': 'Y84.8',
 '745.61': 'Q21.2',
 '765.15': 'P07.15',
 '777.5': '777.5',
 '772.11': 'P52.0',
 '861.13': 'S26.021A',
 '423.9': 'I31.9',
 'E966': 'X99.9XXA',
 '765.16': 'P07.16',
 '765.27': 'P07.36',
 '228.01': 'D18.01',
 '200.08': 'C83.38',
 '555.9': 'K50.90',
 '518.81': 'J96.00',
 '447.0': 'I77.0',
 '286.6': 'D65',
 '765.02': 'P07.02',
 '771.81': 'P36.9',
 '765.23': 'P07.24',
 '270.7': 'E72.3',
 '335.20': 'G12.21',
 '518.84': 'J96.20',
 '427.89': 'I49.8',
 '723.4': 'M54.12',
 '458.9': 'I95.9',
 '079.99': 'B97.89',
 '788.41': 'R35.0',
 '426.0': 'I44.2',
 '851.81': 'S06.330A',
 '807.2': 'S22.20XA',
 'V46.1': 'V46.1',
 '864.02': 'S36.114A',
 '865.09': 'S36.09XA',
 '453.8': '453.8',
 '482.1': 'J15.1',
 '860.4': 'S27.2XXA',
 '440.1': 'I70.1',
 '437.3': 'I67.1',
 '413.9': 'I20.8',
 '782.0': 'R20.0',
 'V10.83': 'Z85.828',
 '600.0': '600.0',
 '996.02': 'T82.01XA',
 '441.1': 'I71.1',
 '507.0': 'J69.0',
 '482.40': 'J15.20',
 '512.1': 'J95.811',
 '427.5': 'I46.9',
 '348.1': 'G93.1',
 '780.03': 'R40.3',
 '765.26': 'P07.34',
 '752.61': 'Q54.9',
 '752.63': 'Q54.4',
 '198.3': 'C79.31',
 '162.3': 'C34.10',
 '783.21': 'R63.4',
 '255.9': 'E27.9',
 '162.9': 'C34.90',
 '764.08': 'P05.08',
 '765.29': '765.29',
 '774.6': 'P59.9',
 '778.4': 'P81.0',
 '780.6': '780.6',
 '333.4': 'G10',
 '785.59': 'R57.1',
 '682.6': 'L03.119',
 '136.3': 'B59',
 '799.4': 'R64',
 '276.3': 'E87.3',
 '790.7': 'R78.81',
 '041.11': 'B95.61',
 'E931.7': 'E931.7',
 '444.0': '444.0',
 '997.2': 'T81.719A',
 '276.6': '276.6',
 '275.3': 'E83.30',
 '770.6': 'P22.1',
 '765.25': 'P07.32',
 '191.3': 'C71.3',
 '157.0': 'C25.0',
 '574.10': 'K80.18',
 '568.0': 'K66.0',
 '553.21': 'K43.2',
 'E878.2': 'Y83.2',
 'V72.1': 'V72.1',
 '785.51': 'R57.0',
 '722.0': 'M50.20',
 '719.46': 'M25.569',
 '745.5': 'Q21.1',
 'V12.59': 'Z86.79',
 '250.80': 'E11.618',
 '296.33': 'F33.2',
 'V58.67': 'Z79.4',
 'E932.3': 'E932.3',
 'V58.69': 'Z79.84',
 '478.29': 'J39.2',
 '780.57': 'G47.30',
 '426.4': 'I45.10',
 'V17.0': 'Z81.8',
 '805.02': 'S12.100A',
 '596.4': 'N31.2',
 'E880.9': 'W10.8XXA',
 '822.0': 'S82.009A',
 '733.00': 'M81.0',
 '443.21': 'I77.71',
 '578.1': 'K92.1',
 '459.2': 'I87.1',
 '438.89': 'I69.898',
 '038.8': 'A41.89',
 '785.52': 'R65.21',
 '707.09': 'L89.819',
 '682.3': 'L03.119',
 '008.45': 'A04.71',
 '572.0': 'K75.0',
 'V09.80': 'Z16.20',
 '185': 'C61',
 'E878.8': 'Y83.8',
 '967.8': 'T42.6X1A',
 '969.3': 'T43.501A',
 'E950.2': 'E950.2',
 '348.8': '348.8',
 '296.20': 'F32.9',
 '225.2': 'D32.0',
 '348.5': 'G93.6',
 'V45.79': 'Z90.89',
 '389.9': 'H91.90',
 '410.41': 'I21.19',
 '250.11': 'E10.10',
 '996.04': 'T82.110A',
 '412': 'I25.2',
 '593.9': 'N28.9',
 '426.3': 'I44.7',
 '300.29': 'F40.218',
 'V17.4': 'V17.4',
 '996.74': 'T82.818A',
 '416.0': 'I27.0',
 '428.1': 'I50.1',
 '345.3': 'G40.301',
 '201.90': 'C81.90',
 '515': 'J84.10',
 '362.50': 'H35.30',
 'E933.1': 'E933.1',
 '437.1': 'I67.81',
 '519.1': '519.1',
 '278.01': 'E66.01',
 '492.8': 'J43.9',
 'E879.0': 'Y84.0',
 '428.22': 'I50.22',
 'V58.61': 'Z79.01',
 '396.2': 'I08.0',
 '715.90': 'M15.9',
 '415.11': 'I26.99',
 '996.72': 'T82.817A',
 'V10.51': 'Z85.51',
 '997.39': 'J95.859',
 '596.8': '596.8',
 '535.51': 'K29.71',
 '608.83': 'N50.1',
 '997.4': '997.4',
 '560.1': 'K56.0',
 '608.4': 'N49.9',
 'E870.8': 'E870.8',
 '770.8': '770.8',
 'V05.8': 'Z23',
 '191.7': 'C71.7',
 '513.0': 'J85.0',
 '482.41': 'J15.211',
 '707.05': 'L89.309',
 '112.4': 'B37.1',
 '482.82': 'J15.5',
 '788.20': 'R33.9',
 '707.03': 'L89.139',
 'V10.05': 'Z85.038',
 'V10.47': 'Z85.47',
 '709.9': 'L98.9',
 '427.41': 'I49.01',
 '438.20': 'I69.959',
 '438.19': 'I69.928',
 '805.2': 'S22.009A',
 'E821.0': 'V86.56XA',
 '596.0': 'N32.0',
 '396.8': 'I08.8',
 'V17.3': 'Z82.49',
 '824.9': 'S82.899B',
 '998.4': 'T81.509A',
 '873.44': 'S01.409A',
 '911.0': 'S20.119A',
 '913.0': 'S50.319A',
 'E812.2': 'E812.2',
 '576.8': 'K83.5',
 '203.00': 'C90.00',
 '996.59': 'T85.398A',
 '280.9': 'D50.9',
 '281.1': 'D51.1',
 '228.09': 'D18.09',
 '564.09': 'K59.03',
 '580.89': 'N00.8',
 '572.8': 'K72.10',
 '284.1': '284.1',
 '410.21': 'I21.19',
 '305.62': 'F14.10',
 'V45.02': 'Z95.810',
 '162.8': 'C34.80',
 '531.40': 'K25.4',
 '216.1': 'D23.10',
 '041.4': '041.4',
 'V45.01': 'Z95.0',
 'V34.01': 'Z38.69',
 '288.0': '288.0',
 '999.8': '999.8',
 '579.0': 'K90.0',
 '693.0': 'L27.0',
 '996.85': 'T86.00',
 '567.2': '567.2',
 '255.4': '255.4',
 '351.0': 'G51.0',
 '088.0': 'A44.9',
 '112.5': 'B37.7',
 '038.49': 'A41.59',
 '714.0': 'M06.9',
 '719.45': 'M25.559',
 '574.20': 'K80.20',
 'E849.8': 'Y92.89',
 '780.8': 'R61',
 '307.9': 'F63.3',
 '421.0': 'I33.0',
 '345.90': 'G40.901',
 '518.89': 'J98.4',
 '786.59': 'R07.82',
 '780.60': 'R50.2',
 '782.1': 'R21',
 'V12.51': 'Z86.718',
 '437.2': 'I67.4',
 '425.1': '425.1',
 '787.02': 'R11.0',
 'E942.6': 'E942.6',
 '959.6': 'S79.819A',
 'E928.9': 'X58.XXXA',
 'V45.1': 'V45.1',
 '588.81': 'N25.81',
 '364.3': 'H20.9',
 '789.59': 'R18.8',
 '443.89': 'I73.89',
 '531.90': 'K25.9',
 'V12.54': 'Z86.73',
 '799.02': 'R09.02',
 '789.09': 'R10.10',
 'V45.89': 'Z97.4',
 'V45.12': 'Z91.15',
 'V15.81': 'Z91.19',
 'V64.2': 'Z53.29',
 '789.04': 'R10.32',
 'V45.78': 'Z90.01',
 'V02.54': 'Z22.322',
 '252.00': 'E21.3',
 '996.56': 'T85.691A',
 '995.1': 'T78.3XXA',
 '287.4': '287.4',
 'E878.1': 'Y83.1',
 '348.39': 'G93.49',
 '283.9': 'D59.9',
 '784.2': 'R22.0',
 '611.72': 'N63.0',
 '787.91': 'K52.29',
 '338.19': 'R52',
 '733.99': 'M89.30',
 '622.11': 'N87.0',
 '996.62': 'T82.7XXA',
 '289.81': 'D68.51',
 '041.04': 'B95.2',
 'E879.1': 'Y84.1',
 '041.12': 'B95.62',
 '965.09': 'T40.2X1A',
 '446.6': 'M31.1',
 '780.97': 'R41.82',
 '729.92': 'M79.81',
 '784.0': 'G44.1',
 'V49.83': 'Z76.82',
 '401.0': 'I10',
 'V45.69': 'Z98.83',
 '795.00': 'R87.619',
 'E850.0': 'E850.0',
 'E854.3': 'E854.3',
 'E854.1': 'E854.1',
 'V66.7': 'Z51.5',
 '571.49': 'K73.2',
 '155.0': 'C22.0',
 '250.02': 'E11.65',
 '278.00': 'E66.9',
 'V13.01': 'Z87.442',
 '882.2': 'S66.929A',
 '852.20': 'S06.5X0A',
 '998.89': 'T81.89XA',
 '957.9': 'S14.9XXA',
 'E815.0': 'V86.09XA',
 '493.22': 'J44.1',
 '428.41': 'I50.41',
 '466.0': 'J20.9',
 '792.1': 'R19.5',
 '569.85': 'K55.21',
 '434.11': 'I63.40',
 '342.80': 'G81.90',
 '784.51': 'R47.1',
 '493.20': 'J44.9',
 '153.4': 'C18.0',
 '428.21': 'I50.21',
 '198.2': 'C79.2',
 '998.13': 'D78.33',
 'V49.86': 'Z66',
 '599.71': 'R31.0',
 'E934.2': 'E934.2',
 '038.2': 'A40.3',
 '481': 'J13',
 '197.0': 'C78.00',
 '910.0': 'S00.01XA',
 '456.20': 'I85.11',
 '578.0': 'K92.0',
 '572.2': 'K72.90',
 '453.41': 'I82.419',
 '599.7': '599.7',
 '867.0': 'S37.20XA',
 '348.31': 'G93.41',
 '273.8': 'E88.09',
 '579.8': 'K90.41',
 '070.1': 'B15.9',
 'E879.6': 'Y84.6',
 '357.5': 'G62.1',
 '331.0': 'G30.9',
 '294.10': 'F02.80',
 '532.40': 'K26.4',
 '535.60': 'K29.80',
 '806.04': 'S12.001A',
 'V42.2': 'Z95.3',
 '807.01': 'S22.39XA',
 '441.4': 'I71.4',
 '428.31': 'I50.31',
 '707.07': 'L89.609',
 'V54.17': 'S12.000D',
 '427.81': 'I49.5',
 '578.9': 'K92.2',
 '410.91': 'I21.3',
 '530.10': 'K20.9',
 '556.9': 'K51.90',
 '394.9': 'I05.8',
 '860.0': 'S27.0XXA',
 '444.89': 'I74.8',
 '276.51': 'E86.0',
 '998.81': 'T81.82XA',
 '807.00': 'S22.39XA',
 '924.00': 'S70.10XA',
 'E960.0': 'Y04.0XXA',
 '514': 'J18.2',
 '764.97': 'P05.9',
 '763.83': 'P03.819',
 '441.03': 'I71.03',
 '218.1': 'D25.1',
 '242.00': 'E05.00',
 '959.01': 'S09.8XXA',
 'E812.0': 'V49.88XA',
 '359.4': 'G72.2',
 '191.6': 'C71.6',
 '787.2': '787.2',
 '348.30': 'G93.40',
 '456.0': 'I85.01',
 '340': 'G35',
 '276.52': 'E86.1',
 '456.8': 'I86.8',
 '038.3': 'A41.4',
 '999.2': 'T80.1XXA',
 '451.82': 'I80.8',
 '996.82': 'T86.40',
 '255.41': 'E27.1',
 '276.0': 'E87.0',
 '456.21': 'I85.10',
 '041.09': 'B95.4',
 'V10.07': 'Z85.05',
 'E878.0': 'Y83.0',
 '324.1': 'G06.1',
 '999.31': 'T80.219A',
 '730.08': 'M86.18',
 '722.93': 'M46.47',
 '041.19': 'B95.7',
 '333.99': 'G25.89',
 'E939.0': 'E939.0',
 '537.89': 'K31.89',
 '737.30': 'M41.20',
 '155.2': 'C22.9',
 '780.71': 'R53.82',
 '455.2': 'K64.8',
 '997.31': 'J95.851',
 '807.02': 'S22.49XA',
 '455.5': 'K64.4',
 'E884.4': 'W06.XXXA',
 'E849.7': 'Y92.199',
 'V42.7': 'Z94.4',
 '995.93': 'R65.10',
 '724.2': 'M54.5',
 '746.4': 'Q23.1',
 '766.2': '766.2',
 '038.42': 'A41.51',
 '591': 'N13.30',
 '038.0': 'A40.9',
 '592.1': 'N20.1',
 '997.5': 'N99.89',
 '250.01': 'E10.9',
 '458.2': '458.2',
 '577.1': 'K86.1',
 '557.0': 'K55.011',
 '575.0': 'K81.0',
 '356.9': 'G60.9',
 '368.8': 'H53.8',
 '552.8': 'K45.0',
 '428.23': 'I50.23',
 '785.6': 'R59.9',
 '500': 'J60',
 '750.9': 'Q38.5',
 'E878.6': 'Y83.6',
 '410.31': 'I21.11',
 '724.00': 'M48.00',
 '253.6': 'E22.2',
 '576.1': 'K83.0',
 '440.24': 'I70.269',
 '292.81': 'F19.921',
 'E937.9': 'E937.9',
 '999.9': 'T88.8XXA',
 '200.00': 'C83.30',
 '211.3': 'D12.0',
 '288.03': 'D70.1',
 '773.1': 'P55.1',
 '576.2': 'K83.1',
 '724.5': 'M54.89',
 'V10.09': 'Z85.068',
 '965.4': 'T39.1X1A',
 'E950.0': 'E950.0',
 'E849.9': 'Y92.9',
 '296.80': 'F31.9',
 '314.01': 'F90.1',
 'V65.2': 'Z76.5',
 '852.46': 'S06.4X9A',
 '805.4': 'S32.009A',
 '433.30': 'I65.8',
 '438.9': 'I69.90',
 '447.1': 'I77.1',
 '286.9': 'D68.8',
 '440.20': 'I70.209',
 '432.1': 'I62.00',
 '379.92': 'H57.8',
 '435.9': 'G45.9',
 'V10.52': 'Z85.528',
 'E930.8': 'E930.8',
 '568.82': 'R18.8',
 '199.1': 'C80.1',
 'V64.1': 'Z53.09',
 '494.0': 'J47.9',
 'V45.73': 'Z90.5',
 '966.1': 'T42.0X1A',
 '758.89': 'Q99.8',
 'E855.0': 'E855.0',
 '434.91': 'I63.50',
 '428.30': 'I50.30',
 '780.2': 'R55',
 '741.01': 'Q05.0',
 '918.1': 'S05.00XA',
 '724.8': 'M54.08',
 '805.07': 'S12.600A',
 'V43.65': 'Z96.659',
 '305.91': 'F18.10',
 '292.0': 'F19.939',
 '070.32': 'B18.1',
 '078.5': 'B25.9',
 '305.01': 'F10.10',
 '996.01': 'T82.110A',
 '562.12': 'K57.31',
 '733.82': 'S02.91XK',
 '786.50': 'R07.9',
 '820.22': 'S72.23XA',
 '530.7': 'K22.6',
 '801.20': 'S06.4X0A',
 '303.90': 'F10.20',
 '592.0': 'N20.0',
 '852.21': 'S06.5X0A',
 '839.00': 'S13.101A',
 'E881.0': 'W11.XXXA',
 '579.3': 'K91.2',
 '780.79': 'G93.3',
 'V58.43': 'Z48.89',
 '731.0': 'M88.9',
 '852.22': 'S06.5X1A',
 '250.82': 'E11.69',
 '784.3': 'R47.01',
 'E885.9': 'W18.49XA',
 '785.0': 'R00.0',
 '790.01': 'R71.0',
 '745.0': 'Q20.0',
 '812.20': 'S42.309A',
 '729.1': 'M60.9',
 '156.2': 'C24.1',
 '567.22': 'K65.1',
 '112.89': 'B37.89',
 '696.1': 'L40.0',
 '428.40': 'I50.40',
 '501': 'J61',
 '995.94': 'R65.11',
 '410.72': 'I21.4',
 '787.3': 'R14.0',
 '275.49': 'E20.1',
 '712.30': 'M11.20',
 '599.70': 'R31.9',
 'V70.7': 'Z00.6',
 '296.7': 'F31.9',
 '215.6': 'D21.5',
 '754.70': 'Q66.89',
 '753.29': 'Q62.10',
 '508.1': 'J70.1',
 '996.79': 'T85.818A',
 '203.01': 'C90.01',
 '876.0': 'S21.209A',
 '070.20': 'B16.2',
 '305.61': 'F14.10',
 '305.51': 'F11.10',
 '285.8': 'D64.4',
 '720.2': 'M46.1',
 '733.42': 'M87.059',
 'V44.2': 'Z93.2',
 '441.01': 'I71.01',
 '569.62': 'K94.03',
 '557.1': 'K55.1',
 '801.11': 'S06.330A',
 '871.1': 'S05.20XA',
 '958.7': 'T79.7XXA',
 '802.4': 'S02.400A',
 '802.29': 'S02.609A',
 '802.1': 'S02.2XXB',
 '802.6': 'S02.30XA',
 '847.0': 'S13.4XXA',
 '957.0': 'S14.4XXA',
 '238.7': '238.7',
 'V10.82': 'Z85.820',
 'E879.9': 'Y84.8',
 '518.3': 'J82',
 '397.0': 'I07.1',
 '737.10': 'M40.00',
 '415.19': 'I26.99',
 '196.1': 'C77.1',
 '423.8': 'I31.8',
 '289.82': 'D68.69',
 '346.90': 'G43.909',
 'V10.41': 'Z85.41',
 '410.81': 'I21.29',
 '864.01': 'S36.112A',
 '802.8': 'S02.42XA',
 'E968.9': 'Y09',
 '873.49': 'S01.80XA',
 '510.9': 'J86.9',
 '293.0': 'F05',
 '438.11': 'I69.920',
 '438.0': 'I69.910',
 '404.92': 'I13.11',
 '360.19': 'H44.19',
 '451.84': 'I80.8',
 '588.89': 'N25.89',
 '443.0': 'I73.00',
 '423.2': 'I31.1',
 '360.01': 'H44.009',
 '379.00': 'H15.009',
 '376.32': 'H05.239',
 '370.05': 'H16.069',
 '364.00': 'H20.00',
 '786.1': 'R06.1',
 '793.1': '793.1',
 '079.89': 'B33.8',
 '776.1': 'P61.0',
 '778.8': 'P83.81',
 '790.6': 'R78.89',
 '305.50': 'F11.10',
 '288.8': 'D72.89',
 '275.2': 'E83.40',
 'V02.62': 'V02.62',
 '532.91': 'K56.699',
 '996.81': 'T86.10',
 '535.50': 'K29.70',
 '530.85': 'K22.70',
 '403.11': 'I12.0',
 '996.73': 'T82.818A',
 '582.9': 'N03.9',
 '560.9': 'K56.600',
 '355.9': 'G58.9',
 '432.9': 'I62.9',
 '789.07': 'R10.84',
 '789.06': 'R10.13',
 '904.41': 'S85.009A',
 '928.11': 'S87.00XA',
 '821.21': 'S72.413A',
 '823.00': 'S82.109A',
 'E821.7': 'V88.8XXA',
 '958.92': 'T79.A29A',
 '338.11': 'G89.11',
 '150.5': 'C15.5',
 '998.3': '998.3',
 '573.3': 'K71.6',
 '398.90': 'I09.9',
 '861.21': 'S27.329A',
 '070.51': 'B17.10',
 '850.5': 'S06.0X9A',
 '807.4': 'S22.5XXA',
 'E968.2': 'Y00.XXXA',
 '250.40': 'E11.29',
 'V49.75': 'Z89.519',
 'V49.72': 'Z89.429',
 '560.2': 'K56.2',
 'E938.3': 'E938.3',
 'V53.31': 'Z45.010',
 'V55.6': 'Z43.6',
 '251.1': 'E16.0',
 '728.88': 'M62.82',
 '851.42': 'S06.371A',
 '958.4': 'T79.4XXA',
 '482.30': 'J15.4',
 '870.0': 'S01.119A',
 '873.43': 'S01.501A',
 '162.5': 'C34.30',
 '198.5': 'C79.51',
 'V87.41': 'Z92.21',
 'V15.3': 'Z92.3',
 '458.8': 'I95.89',
 '562.10': 'K57.30',
 '788.30': 'R32',
 '444.22': 'I74.3',
 '440.22': 'I70.229',
 'V64.42': 'Z53.32',
 'V60.0': 'Z59.0',
 '521.00': 'K02.9',
 '301.0': 'F60.0',
 '164.2': 'C38.1',
 '197.1': 'C78.1',
 '423.0': 'I31.2',
 '786.3': '786.3',
 '054.9': 'B00.9',
 '821.23': 'S72.453A',
 '998.0': '998.0',
 'V31.00': 'Z38.30',
 '785.2': 'R01.1',
 '767.11': 'P12.2',
 '577.0': 'K85.90',
 '250.41': 'E10.29',
 '741.90': 'Q05.8',
 '344.1': 'G82.20',
 '041.6': 'B96.4',
 '784.7': 'R04.0',
 '273.2': 'D89.1',
 '482.2': 'J14',
 '289.83': 'D75.81',
 '287.31': 'D69.3',
 '482.0': 'J15.0',
 '288.60': 'D72.829',
 '537.82': 'K31.819',
 '569.49': 'K62.89',
 '464.51': 'J04.31',
 '041.86': 'B96.81',
 '442.2': 'I72.3',
 '441.3': 'I71.3',
 '996.1': 'T82.390A',
 'V15.07': 'Z91.040',
 '150.8': 'C15.8',
 '282.49': 'D56.8',
 '250.73': 'E10.65',
 '250.63': 'E10.65',
 '250.43': 'E10.65',
 '250.53': 'E10.319',
 '785.4': 'I96',
 '345.50': 'G40.101',
 '428.32': 'I50.32',
 '274.01': 'M10.00',
 '567.89': 'K65.8',
 'E849.0': 'Y92.099',
 '577.8': 'K86.1',
 'V08': 'Z21',
 '577.2': 'K86.2',
 '574.00': 'K80.00',
 '965.01': 'T40.1X1A',
 '304.21': 'F14.20',
 '070.30': 'B16.9',
 '304.31': 'F12.20',
 '970.8': '970.8',
 '969.6': 'T40.8X2A',
 'E885.1': 'V00.111A',
 '860.2': 'S27.1XXA',
 '807.09': 'S22.49XA',
 '823.80': 'S82.201A',
 '891.0': 'S81.009A',
 '873.8': 'S01.90XA',
 '820.32': 'S72.23XB',
 '808.3': 'S32.501B',
 '805.6': 'S32.10XA',
 '866.12': 'S37.039A',
 '823.02': 'S82.831A',
 '821.01': 'S72.309A',
 '902.0': 'S35.00XA',
 '996.4': '996.4',
 '054.71': 'B00.81',
 '324.0': 'G06.0',
 '117.3': 'B44.9',
 '484.6': 'B44.0',
 '707.01': 'L89.009',
 '715.35': 'M16.9',
 '198.4': 'C79.32',
 '250.13': 'E10.65',
 '746.02': 'Q22.1',
 '765.14': 'P07.14',
 '733.90': 'M85.9',
 '303.91': 'F10.20',
 '719.47': 'M25.579',
 '760.72': 'P04.49',
 '162.4': 'C34.2',
 '999.1': 'T80.0XXA',
 '482.89': 'J15.8',
 'V04.89': 'Z23',
 '691.0': 'L22',
 '593.81': 'N28.0',
 '585': '585',
 '588.1': 'N25.1',
 '532.60': 'K26.6',
 '789.2': 'R16.1',
 '519.4': 'J98.6',
 '966.3': 'T42.1X1A',
 'E950.4': 'E950.4',
 '707.06': 'L89.509',
 '730.22': 'M86.9',
 '729.9': '729.9',
 '528.9': 'K13.70',

In [5]:
reverse_mapping = {v: k for k, v in mapping.items()}

In [34]:
mapping = {v: k for k, v in reverse_mapping.items()}

In [15]:
ICD9_32 = [reverse_mapping[key] for key in ICD10_32]

In [13]:
reverse_mapping['E78.0'] = 272.0

In [14]:
for key in ICD10_32:
    if key not in reverse_mapping.keys():
        print(key)

In [26]:
ICD9_32

['401.1',
 428.0,
 '427.31',
 '429.2',
 '584.9',
 '250.00',
 272.4,
 '599.0',
 272.0,
 '285.9',
 '244.9',
 '486',
 '285.1',
 '995.92',
 '296.20',
 '305.1',
 '287.5',
 'V45.81',
 'V15.82',
 '403.11',
 '785.52',
 'V58.67',
 '327.23',
 '493.90',
 '733.01',
 '780.39',
 '585.6',
 '278.00',
 '771.83',
 '293.1',
 '263.8',
 '278.01']

In [27]:
code_desc_32 = code_desc.loc[code_desc['ICD9_CODE'].isin(ICD9_32)]

In [32]:
len(code_desc_32.index)

32

In [31]:
code_desc_32.loc[len(code_desc_32.index)] = ['428.0','Congestive heart failure unspecified']
code_desc_32.loc[len(code_desc_32.index)] = ['272.4','Other and unspecified hyperlipidemia']
code_desc_32.loc[len(code_desc_32.index)] = ['272.0','Pure hypercholesterolemia']

/var/tmp/pbs.20238.master/ipykernel_2130187/2346901574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_desc_32.loc[len(code_desc_32.index)] = ['428.0','Congestive heart failure unspecified']
/var/tmp/pbs.20238.master/ipykernel_2130187/2346901574.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_desc_32.loc[len(code_desc_32.index)] = ['272.4','Other and unspecified hyperlipidemia']
/var/tmp/pbs.20238.master/ipykernel_2130187/2346901574.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_desc_32.loc[len(code_desc_32.index)] = ['272.0','Pure hypercholesterolemia']

In [35]:
def map9_10(value):
    return mapping[value]
code_desc_32['ICD9_CODE'] = code_desc_32.apply(lambda row: map9_10(row['ICD9_CODE']),axis=1)

/var/tmp/pbs.20238.master/ipykernel_2130187/4044305002.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_desc_32['ICD9_CODE'] = code_desc_32.apply(lambda row: map9_10(row['ICD9_CODE']),axis=1)

In [42]:
code_desc_32

      ICD9_CODE                                               DESC
1588      E11.9  Diabetes mellitus without mention of complicat...
1638        E46                 Other protein-calorie malnutrition
1796      E03.9                Unspecified acquired hypothyroidism
2462      E66.9                               Obesity, unspecified
2463     E66.01                                     Morbid obesity
2898    F17.200                               Tobacco use disorder
3118     G47.33         Obstructive sleep apnea (adult)(pediatric)
3140        D62                       Acute posthemorrhagic anemia
3146      D64.9                                Anemia, unspecified
3168      D69.6                      Thrombocytopenia, unspecified
3248        F05                                  Subacute delirium
3336      F32.9  Major depressive affective disorder, single ep...
4302        I10                      Benign essential hypertension
4313      I12.0  Hypertensive chronic kidney disease, benign, w...
4461     I48.91                                Atrial fibrillation
4489     I25.10                Cardiovascular disease, unspecified
5147      J18.9                    Pneumonia, organism unspecified
5379    J45.909              Asthma, unspecified type, unspecified
5906      N17.9                  Acute kidney failure, unspecified
5912      N18.6                            End stage renal disease
6550      N39.0        Urinary tract infection, site not specified
8967      R56.9                                  Other convulsions
9051     R78.81                              Bacteremia of newborn
9732      Z95.1                        Aortocoronary bypass status
10305    R65.20                                      Severe sepsis
10697     Z79.4                 Long-term (current) use of insulin
12377     M81.0                                Senile osteoporosis
13142    R65.21                                       Septic shock
13592   Z87.891                    Personal history of tobacco use
29        I50.9               Congestive heart failure unspecified
30        E78.5               Other and unspecified hyperlipidemia
31        E78.0                          Pure hypercholesterolemia

In [37]:
reverse_mapping['I50.9']

428.0

In [41]:
code_desc_32.iloc[-1,0] = 'E78.0'

In [44]:
code_desc_32.to_csv(data_path + 'D_ICD_32.csv',index=False)